<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>易简医</title>
		<link href="../css/bootstrap-reset.css" rel="stylesheet" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
		<link href="../css/r-panel.css" rel="stylesheet" />
		<link href="../fonts/css/font-awesome.css"/>
		<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet"/>
	    <link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
    	<link  href="../css/app.css"/>
	    <style type="text/css">
	    .bar {
		    height: 18px;
		    background: green;
		}
		</style>
	</head>
	<body style="background-color: white;">
		<div class="container-fluid">
	        <div class="panel-body">
	        	<div class="row">
		        	<form class="form-inline" role="form">
		        		<div class="row">
		                    <div class="m-bot15 col-lg-12 form-group">
		                    	<button type="button" class="btn btn-success btn-sm m-bot15"
		                    		id="showAddBannerBtn">
		                        	<i class="fa fa-plus"></i>&nbsp;&nbsp;新增banner
		                        </button>
		                    	<select class="form-control m-bot15"  style="padding-top: 0; padding-bottom: 0;" id="bannerType">
		                            <option value="0">全部</option>
		                            <option value="1">微信h5</option>
		                            <option value="2">用户app</option>
		                        </select>
		                        <button type="button" class="btn btn-primary btn-sm m-bot15" onclick="bannerModule.loadBannerList(true,1);">
		                        	<i class="fa fa-search"></i>&nbsp;&nbsp;查询
		                        </button>
		                    </div>
		        		</div>
					</form>
				</div>	
				<div class="row">
		        	<div class="adv-table">
		        		<table  class="display table table-bordered table-striped" id="dynamic-table">
		        			<thead>
		        				<tr>
			        				<th>名称</th>
			        				<th>描述</th>
			        				<th>类型</th>
			        				<th>跳转链接</th>
			        				<th>缩略图</th>
			        				<th>开始时间</th>
			        				<th>结束时间</th>
			        				<th>创建人</th>
			        				<th>创建时间</th>
			        				<th class="text-center">操作</th>
		        				</tr>
		        			</thead>
		        			<tbody id="bannerListContent">
		        				<tr>
		        					<td colspan="8" class="text-center">
		        						数据载入中...
		        					</td>
		        				</tr>
		        			</tbody>
		        		</table>
						<ul class="pagination" id="pagination"></ul>
		        	</div>
	        	</div>
	        </div>
		</div>	
		
		<!-- 右侧弹出panel -->
	    <div id="addBanner_panel" class="r_panel">
	        <div class="panel-header">
	            <button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
	            </button>
	            <h4 class="modal-title">新增banner</h4>
	        </div>
	        <div class="panel-body">
	            <div class="container-fluid">
	                <form class="form-horizontal" role="form" name="addBannerForm">
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">名称 <span class="form-required"> * </span></label>
	                        <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="请输入banner名称" 
                                	name="addBanner_name" id="addBanner_name">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">类型 *</label>
	                        <div class="col-sm-7">
	                            <label class="radio-inline">
	                                <input type="radio" name="addBanner_type" value="1" checked="checked">微信h5
	                            </label>
	                            <label class="radio-inline">
	                                <input type="radio" name="addBanner_type" value="2" >用户app
	                            </label>
	                        </div>
	                    </div>
	                      <div class="form-group">
	                    	<label class="col-sm-3 control-label">现最大排序</label>
	                         <div class="col-sm-5">
                                <span id = "sort_num_add"></span>
	                        </div>
	                    </div>
	                     <div class="form-group">
	                    	<label class="col-sm-3 control-label">排序位置 </label>
	                        <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="请输入banner排序位置" 
                                	name="addBanner_sort" id="addBanner_sort">
	                        </div>
	                    </div>
	                    <div class="form-group">
                            <label class="col-lg-3 col-sm-3 control-label">有效期 *</label>
                            <div class="col-sm-5">
	                             <input type="text" class="form-control m-bot15 input-large col-lg-5" style="width: 200px;" name="daterange1" id="date_range1"/>
	                             <input type="hidden" id="addBanner_startDate">
                                 <input type="hidden" id="addBanner_endDate">
		                    </div>
                        </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">图片*</label>
	                        <div class="col-sm-5">
	                        	<input type="file" id="file1" name="addImgUpload"/>
								<img id="banner_imgUrl_add" height="100" width="200"/>
								<input type="hidden" name="" id = "banner_imgId_add">
		                    </div>
	                    </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">链接地址*</label>
	                        <div class="col-sm-5">
		                        <input type="text" class="form-control" placeholder="请输入跳转链接" name="addBanner_url" id="addBanner_url">
		                    </div>
	                    </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">描述</label>
	                        <div class="col-sm-5">
	                        	<textarea rows="" cols="" placeholder="请输入banner描述" id="addBanner_desc"></textarea>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                        <div class="col-sm-8" style="text-align:right;">
		                        <button type="button" class="btn btn-default rp_close">取消</button>
		                        <button type="button" class="btn btn-success modal_save" id="addBannerBtn">保存</button>
	                        </div>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>			
		<!-- 右侧弹出panel -->
		<div id="showBanner_panel" class="r_panel">
	        <div class="panel-header">
	            <button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
	            </button>
	            <h4 class="modal-title">banner</h4>
	        </div>
	        <div class="panel-body">
	            <div class="container-fluid">
	                <form class="form-horizontal" role="form" name="showBannerForm">
	                	<input type="hidden" class="form-control" id="showBanner_id">
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">名称 *</label>
	                        <div class="col-sm-5">
	                            <div class="iconic-input">
	                                <i class="fa fa-home"></i>
	                                <input type="text" class="form-control" placeholder="请输入banner名称" 
	                                	id="showBanner_name">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">banner类型*</label>
	                        <div class="col-sm-7">
	                        	<label class="radio-inline">
	                                <input type="radio" id="showBanner_type_1" name="showBanner_type" value="1">微信h5
	                            </label>
	                            <label class="radio-inline">
	                                <input type="radio" id="showBanner_type_2" name="showBanner_type" value="2">用户app
	                            </label>
	                        </div>
	                    </div>
	                     <div class="form-group">
	                    	<label class="col-sm-3 control-label">现最大排序</label>
	                         <div class="col-sm-5">
                                <span id = "sort_num_update"></span>
	                        </div>
	                    </div>
	                     <div class="form-group">
	                    	<label class="col-sm-3 control-label">排序位置 </label>
	                        <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="请输入banner排序位置" 
                                	name="updateBanner_sort" id="updateBanner_sort">
	                        </div>
	                    </div>
	                    <div class="form-group">
                            <label class="col-lg-3 col-sm-3 control-label">有效期 *</label>
                            <div class="col-sm-5">
                            	 <input type="text" class="form-control m-bot15 input-large col-lg-5" style="width: 200px;" name="daterange1" id="date_range2"/>
	                             <input type="hidden" id="showBanner_startDate">
                                 <input type="hidden" id="showBanner_endDate">
                            </div>
                        </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">图片*</label>
	                        <div class="col-sm-5">
	                        	<input type="file" id="file2" name="editImgUpload"/>
								<img id="banner_imgUrl_edit" height="100" width="200" src=""/>
								<input type="hidden" name="" id = "banner_imgId_edit" value="">
		                    </div>
	                    </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">链接地址 *</label>
	                        <div class="col-sm-5">
	                        	<input type="text" class="form-control" placeholder="请输入链接地址" 
	                                	id="showBanner_url">
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">描述 *</label>
	                        <div class="col-sm-5">
	                        	<textarea rows="" cols="" id = "showBanner_desc" placeholder="请输入描述" ></textarea>
		                    </div>
	                    </div>
	                    <div class="form-group">
	                        <div class="col-sm-8" style="text-align:right;">
		                        <button type="button" class="btn btn-default" 
		                        	id="panelChangeBtn" onclick="bannerEditModule.closePanel()">取消</button>
		                        <button type="button" class="btn btn-success modal_save"
		                        	id="editOrgBtn" onclick="bannerEditModule.editBannerItem()">确认</button>
	                        </div>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
			
		<!-- 机构列表模板  -->
		<script type="text/html" id="bannerListTemplate">
			{{if bannerList.length > 0}}
				{{each bannerList as item i}}
				<tr>
					<td>{{item.name}}</td>
					<td>{{item.desc}}</td>
					<td>{{item.bannerType | bannerFilter : 'BANNER_TYPE'}}</td>
					<td><span style = "display:block;width:300px;word-wrap:break-word;">{{item.url}}</span></td>
					<td><img src="{{item.imgUrl}}" height="100" width="200"></td>
					<td>{{item.startDate}}</td>
					<td>{{item.endDate}}</td>
					<td>{{item.editor}}</td>
					<td>{{item.createTime}}</td>
					<td class="text-center">
						<a href="javascript:void(0);" onclick="bannerModule.showEditBanner('{{item.id}}')">编辑</a>&#124;
						<a href="javascript:void(0);" onclick="bannerModule.delBanner('{{item.id}}')">删除</a>
					</td>
				</tr>
				{{/each}}
			{{/if}}
			{{if bannerList.length == 0}}
				<tr>
					<td colspan="9" class="text-center">
						暂无数据，点击<a href="javascript:void(0);" onclick="bannerModule.loadBannerList(true,1);">刷新数据</a>
					</td>
				</tr>
			{{/if}}
		</script>
		
		<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/app/common/toast.js"></script>
		<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/template.js"></script>
		<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
		<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
		<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
		<script type="text/javascript" src="../js/ajaxfileupload.js"></script>
		<script src="../js/app/fun.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../js/app/banner.js?123"></script>
				<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
		<script type="text/javascript">
			function ajaxFileUpload(type, fileId) {
				console.log(fileId);
			    $.ajaxFileUpload
			    (
			        {
			            url: '/imageupload?type=banner', //用于文件上传的服务器端请求地址
			            secureuri: false, //是否需要安全协议，一般设置为false
			            fileElementId: fileId, //文件上传域的ID
			            dataType: 'json', //返回值类型 一般设置为json
			            success: function (data, status)  //服务器成功响应处理函数
			            {
			                if(data.errCode == 0) {
			                	$("#banner_imgUrl_" + type).attr("src", data.imgUrl);
			                	$("#banner_imgId_" + type).val(data.imageId);
			                } else {
			                	alert("上传失败");
			                }
			            },
			            error: function (data, status, e)//服务器响应失败处理函数
			            {
			                alert(e);
			            }
			        }
			    )
			    return false;
			}
		</script>
	</body>	
</html>