<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>易简医</title>
	<link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="../css/bootstrap-reset.css" rel="stylesheet" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/style.css" rel="stylesheet" />
	<link href="../js/bootstrap-editable/bootstrap-editable.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order-prepay.css" />
	<link href="../css/newOrder.css" rel="stylesheet" />
	<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
	<link href="../css/r-panel.css" rel="stylesheet" />
	<link href="../fonts/css/font-awesome.css" />
	<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
	<link href="../css/app.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order_pay.css" />
	<style type="text/css">
		.row{
			position: relative;
		}
		.sure-service{
			position: absolute;
			top:50%;
			right:100px;
			transform: translateY(-50%);
		}
		.sure-service i{
			color: red;
			font-weight: bold;
			margin-right:5px;
		}
	</style>
</head>

<body style="background: #fff;">
	<div class="container-fluid">
		<div class="panel-body">
			<div class="row">
				<form class="form-inline m-bot15" role="form">
					<div class="row">
						<div class="col-lg-12 form-group">
							<span class="btn btn-success btn-sm bed-comment">审核</span>
						</div>
					</div>
				</form>
			</div>
			<div class="m-bot15">
				<form class="form-inline" role="form">
					<div class="row">
						<div class="col-lg-12 form-group bed-info">
							<p>租借总数：<i>0</i> 张</p>
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="adv-table">
					<table class="display table table-bordered table-striped" id="dynamic-table">
						<thead>
							<tr>
								<th>租借日期</th>
								<th>机构</th>
								<th>科室</th>
								<th>租借床号</th>
								<th>租借人</th>
								<th>租借张数</th>
								<th>添加人</th>
								<th>添加时间</th>
							</tr>
						</thead>
						<tbody id="bedContent">
							<tr>
								<td colspan="8" class="text-center">
									数据载入中...
								</td>
							</tr>
						</tbody>
					</table>
					<!--<ul class="pagination" id="pagination"></ul>-->
				</div>
			</div>
		</div>
	</div>
	<div id="order-mask-bg"></div>
	<div id="order-mask">
		<div class="ball_spin_fade">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<script type="text/html" id="bedTemplate">
		{{if itemList.length > 0}} 
			{{each itemList as item i}}
			<tr>
				<td>{{item.serviceDateStr}}</td>
				<td>{{item.orgName}}</td>
				<td>{{item.branchName}}</td>
				<td>{{item.bedNo}}</td>
				<td>{{item.fullName}}</td>
				<td>{{item.number}}</td>
				<td>{{item.createStaffName}}</td>
				<td>
					{{if item.hueStatus==1}}
					<span class="bed-red">{{item.createTimeStr}}</span>
					{{/if}}
					{{if item.hueStatus!=1}}
					<span>{{item.createTimeStr}}</span>
					{{/if}}
				</td>
			</tr>
			{{/each}}
		{{/if}}
		{{if itemList.length <= 0}} 
			<tr>
				<td colspan="8" class="text-center">
					暂无数据...
				</td>
			</tr>
		{{/if}}
	</script>
	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/app/common/toast.js"></script>
	<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
	<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
	<script type="text/javascript" src="../js/plugins/template.js"></script>
	<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
	<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../js/bootstrap-daterangepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="../js/app/fun.js"></script>
	<script type="text/javascript" src="../js/app/common/tools.js"></script>
	<script type="text/javascript" src="../js/bootstrap-editable/bootstrap-editable.min.js"></script>
	<script>
		$(function(){
			//获取url中的参数
			$('.bed-comment').closest('.row').css('display','none');
			function getUrlParam(name) {
				let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
				let r = window.location.search.substr(1).match(reg); //匹配目标参数
				if(r != null) return unescape(r[2]);
				return null; //返回参数值
			}
			var httpUtilObj = new HttpUtil();
			var initParam = httpUtilObj.getTabParams();
			let data={};
			data['orgId']=initParam.orgId;
			data['branchId']=initParam.branchId;
			data['time']=initParam.time;
			let status=initParam.status;//1-审核,
			if(status==1){
				$('.bed-comment').closest('.row').css('display','block');
			}
			initData(data);
			function initData(data){
				//实例化请求帮助类
				var httpUtilObj = new HttpUtil();
				httpUtilObj.ajax({
					url: '/adminjson/SAASGetWithonebedPriceDetail',
					params: data
				}).then((res)=>{
					$('#order-mask-bg').css('display','none');
					$('#order-mask').css('display','none');
					refreshList(res.body);
				})
			}
			function refreshList(res) {
				var fundsHtml = template('bedTemplate', res);
				$("#bedContent").empty().html(fundsHtml);
				bindData(res.number);
			}
			function bindData(count){
				$('.bed-info i').html(count);
				$('.bed-comment').off('click').on('click',function(){
					getComment();
				})
			}
			function getComment(name,url){
				let tis='是否确定<i>'+data['time']+'</i>日陪人床租借数量无误？'
				bootbox.confirm({
					title: "系统提示",
					message: tis,
					buttons: {
						confirm: {
							label: '核实无误',
							//					className: 'btn-success'
						},
						cancel: {
							label: '取消',
							//					className: 'btn-danger'
						}
					},
					callback: function (isConfirm) {
						if (isConfirm) {
							let httpUtilObj = new HttpUtil();
							let params =data;
							httpUtilObj.ajax({
								url: '/adminjson/SAASUpdateWithonebedPrice',
								params: params
							}).then((res)=>{
								Toast.success('审核成功！');
								initData(data);
								$('.bed-comment').closest('.row').css('display','none');
							});
						}
					}
				});
			}
		})
	</script>
</body>
</html>