<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>易简医</title>
		<link href="../css/bootstrap-reset.css" rel="stylesheet" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
		<link href="../css/r-panel.css" rel="stylesheet" />
		<link href="../fonts/css/font-awesome.css"/>
		<link href="../js/bootstrap-editable/bootstrap-editable.css" rel="stylesheet" />
		<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet"/>
		<link rel="stylesheet" href="../js/bootstrap-select/bootstrap-select.min.css">
		<link  href="../css/app.css"/>
	</head>
	<body style="background-color: white;">
			<div class="container-fluid">
				<div class="panel-body">
					<div class="row" id="searchAndCreate">
						<!-- search form start-->
		                <form class="form-inline" role="form">
							<div class="row">
			                    <div class="m-bot15 col-lg-12 form-group">
			                    	<button type="button" class="btn btn-success btn-sm m-bot15 hidden"
			                    		id="showAddBranchBtn">
			                        	<i class="fa fa-plus"></i>&nbsp;&nbsp;新增科室
			                        </button>
			                        <button type="button" class="btn btn-success btn-sm m-bot15 hidden"
			                    		id="addCBRelationBtn" onclick="branchModule.addCBRelation()">
			                        	<i class="fa fa-plus"></i>&nbsp;&nbsp;新增关联
			                        </button>
			                    	<input type="hidden" class="form-control m-bot15" id="findOrgId">
			                    	<input type="text" class="form-control m-bot15" placeholder="请输入科室名进行搜索" id="findBranchName">
			                    	<button type="button" class="btn btn-primary btn-sm m-bot15" 
		                            	onclick="branchModule.loadBranchList(true,1);">
			                        	<i class="fa fa-search"></i>&nbsp;&nbsp;查询
			                        </button>
			                    	<!--<select class="form-control m-bot15" style="width: 150px;" 
			                    		id="proSelct" onchange="branchModule.selctChange('pro',this)">
		                                <option value="">请选择省份</option>
		                         	</select>
		                            <select class="form-control m-bot15" style="width: 150px;" 
		                            	id="citySelct" onchange="branchModule.selctChange('city',this)">
		                                <option value="">请选择城市</option>
		                            </select>
		                            <select class="form-control m-bot15" style="width: 150px;" 
		                            	id="distrctSelct" onchange="branchModule.selctChange('distrct',this)">
		                                <option value="">请选择区/县</option>
		                            </select>
		                            -->
		                            
			                    </div>
							</div>
						</form>
					</div>
					<div class="row">
						<!-- search form end-->
			        	<div class="adv-table">
			        		<table  class="display table table-bordered table-striped" id="dynamic-table">
			        			<thead>
			        				<tr>
				        				<th>科室名称</th>
				        				<th>所属医院</th>
				        				<th>督导</th>
				        				<th class="text-center roomCountTD">病房数</th>
				        				<th class="text-center">添加时间</th>
				        				<th class="text-center">创建人</th>
				        				<th class="text-center OPerateBranch">操作</th>
			        				</tr>
			        			</thead>
			        			<tbody id="branchListContent">
			        				<tr>
			        					<td colspan="6" class="text-center">
			        						数据载入中...
			        					</td>
			        				</tr>
			        			</tbody>
			        		</table>
							<ul class="pagination" id="pagination"></ul>
			        	</div>
					</div>
					<!--body wrapper end-->
				</div>
			</div>	
            <div id="showCOItem_panel" class="r_panel">
	        <div class="panel-header">
	            <button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
	            </button>
	            <h4 class="modal-title">科室信息</h4>
	        </div>
	        <div class="panel-body">
	            <div class="container-fluid">
	                <form class="form-horizontal" role="form" name="showOrgForm">
	                    <input type="hidden" name="id" id="showCompanyInfo_id"/>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">科室名称 *</label>
	                        <div class="col-sm-5">
	                                <input type="text" class="form-control" placeholder="科室名称" 
	                                	id="coItem_branchName" disabled="disabled">
	                        </div>
	                    </div>
	                      
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">所属机构 *</label>
	                        <div class="col-sm-5">
	                                <input type="text" class="form-control" placeholder="所属机构" 
	                                	id="coItem_orgName" disabled="disabled">
	                        </div>
	                    </div>
	                    
	                     <div class="form-group">
	                    	<label class="col-sm-3 control-label">是否承包 *</label>
	                        <div class="col-sm-7" id="isAllState">
	                        	<label class="radio-inline">
	                                <input type="radio" id="showOrg_type_0" name="coItem_isAll" value="1" disabled="disabled">是
	                            </label>
	                            <label class="radio-inline">
	                                <input type="radio" id="showOrg_type_1" name="coItem_isAll" value="2" disabled="disabled">否
	                            </label>
	                        </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">是否有门禁卡 *</label>
	                        <div class="col-sm-7" id="haveEntranceCardState">
	                      		<label class="radio-inline">
	                                <input type="radio" id="showOrg_type_1" name="coItem_haveEntranceCard" value="1" disabled="disabled">是
	                            </label>
	                        	<label class="radio-inline">
	                                <input type="radio" id="showOrg_type_0" name="coItem_haveEntranceCard" value="0" disabled="disabled">否
	                            </label>
	                        </div>
	                    </div>
	                  
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">门禁卡押金 *</label>
	                        <div class="col-sm-5">
                                <input type="text" class="form-control" name="coItem_entranceCardPrice" placeholder="门禁卡押金" 
                                	id="coItem_entranceCardPrice" disabled="disabled">&nbsp;&nbsp;&nbsp;
	                        </div>
	                        <label><input name="isShowClientExtra" type="checkbox" value="0" />用户端隐藏门禁卡选项</label> 
	                    </div>
	                    
<!-- 	                    <div class="form-group"> -->
<!-- 	                    	<label class="col-sm-3 control-label">预付金 *</label> -->
<!-- 	                        <div class="col-sm-5"> -->
<!--                                 <input type="text" class="form-control" name="coItem_prepayAmount" placeholder="门禁卡押金"  -->
<!--                                 	id="coItem_prepayAmount" disabled="disabled"> -->
<!-- 	                        </div> -->
<!-- 	                    </div> -->
						
<!-- 						 <div class="form-group"> -->
<!-- 	                    	<label class="col-sm-3 control-label">督导 *</label> -->
<!-- 	                        <div class="col-sm-5"> -->
<!--                         		<select class="form-control" id="coItem_dudaoId" disabled="disabled" style="padding-top:0;padding-bottom: 0;"></select> -->
<!-- 	                        </div> -->
<!-- 	                    </div> -->
	                    <div class="form-group addDudao_staffSelect">
							<label class="col-sm-3 control-label">督导<span class="form-required"> * </span></label>
							<div class="col-sm-9">
								<select id="addDudao_staffSelect" class="selectpicker show-tick form-control" multiple data-live-search="true">
									<option value="">请选择督导</option>
								</select>
							</div>
						</div>
	                    <div class="form-group">
							<label class="col-sm-10 control-label" style="text-align: left;">结束计费规则+变更当天计费规则*</label>
							<label class="col-sm-3 control-label"></label>
							<div class="col-sm-7" id = "showOrg_FeeRule">
								<label class="radio-inline" style="display: block;">
	                                <input type="radio" id="showOrg_FeeRule_1" name="showOrg_FeeRule" lastDayFeeConfig="1" value="1" changeServiceConfig="3" disabled="disabled">超时收费+超时收费
	                            </label>
								<label class="radio-inline" style="display: block; margin-left: 0px;">
	                                <input type="radio" id="showOrg_FeeRule_2" name="showOrg_FeeRule" lastDayFeeConfig="2" value="2" changeServiceConfig="4" disabled="disabled">自然天收费+变更当天手动选择
	                            </label>
	                            <label class="radio-inline" style="display: block; margin-left: 0px;">
	                                <input type="radio" id="showOrg_FeeRule_3" name="showOrg_FeeRule" lastDayFeeConfig="3" value="3" changeServiceConfig="4" disabled="disabled">收头不收尾+变更当天手动选择
	                            </label>
							</div>
						</div>
	                    <div class="form-group">
	                        <div class="col-sm-8" style="text-align:right;">
	                        	<button type="button" class="btn btn-success" 
		                        	id="toEditBtn" onclick="COModule.editCO()">编辑</button>
	                        	<button type="button" class="btn btn-default hidden" 
		                        	id="cancelEditBtn" onclick="COModule.cancelEdit()">取消</button>
	                        	<button type="button" class="btn btn-success hidden" 
		                        	id="updateCOBtn" onclick="COModule.updateCO()">保存</button>
                        	</div>
	                    </div>
		                </form>
		            </div>
		        </div>
		    </div>		
		    <!-- 右侧弹出panel -->
		    <div id="addBranch_panel" class="r_panel">
		        <div class="panel-header">
		            <button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
		            	<span aria-hidden="true">&times;</span>
		            </button>
		            <h4 class="modal-title">新增科室</h4>
		        </div>
		        <div class="panel-body">
		            <div class="container-fluid">
		                <form class="form-horizontal" role="form" name="addBranchForm">
		                    <div class="form-group">
		                    	<label class="col-sm-3 control-label">科室名称 *</label>
		                        <div class="col-sm-5">
			                        <input type="text" class="form-control" id="addBranch_name" placeholder="请输入科室名称" required>
			                    </div>
		                    </div>
		                    <div class="form-group">
		                        <div class="col-sm-8" style="text-align:right;">
 									<button type="button" class="btn btn-default rp_close">取消</button>
			                        <button type="button" class="btn btn-success modal_save" id="addBranchBtn">保存</button>
		                        </div>
		                    </div>
		                </form>
		            </div>
		        </div>
		    </div>		
		    <!-- 右侧弹出panel -->
		    <div id="addCBRelation_panel" class="r_panel">
		        <div class="panel-header">
		            <button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
		            	<span aria-hidden="true">&times;</span>
		            </button>
		            <h4 class="modal-title">新增科室</h4>
		        </div>
		        <div class="panel-body">
		            <div class="container-fluid">
		                <form class="form-horizontal" role="form">
　　　　　　　　　　　　　　 <div class="form-group">
                           <label class="col-sm-3 control-label text-left">选择科室：</label>
                            <div class="col-sm-6">
                                <select id="branchListSelectContent" style="padding-top:0;padding-bottom: 0;" class="selectpicker show-tick form-control" multiple data-live-search="true">
                                	
                                </select>
                            </div>
                          </div>
                          <hr />
                          <div class="form-group">
		                        <div class="col-sm-12 text-right">
 									<button type="button" class="btn btn-default rp_close">取消</button>
			                        <button type="button" class="btn btn-success modal_save" id="saveCBRelationBTN" onclick="branchModule.saveCBRelation()">保存</button>
		                        </div>
		                    </div>
		                </form>
		            </div>
		        </div>
		    </div>			
		<script type="text/html" id="staffSelctTemplate">
			{{if hgList.length > 0}} 
			{{each hgList as item i}}
			<option value="{{item.id}}">{{item.fullName}}-{{item.idcardAfterFour}}</option>
			{{/each}} 
			{{/if}} 
		</script>
	    <script type="text/html" id="hgSelTemplate">
			<option value="0">请选择</option>
			{{each hgList as item i}}
				<option value="{{item.id}}">{{item.fullName}}</option>
			{{/each}}
		</script>
		<!-- 机构下拉框 -->
		<script type="text/html" id="orgSelctTemplate">
			{{each orgList as item i}}
			<option value="{{item.id}}">{{item.orgName}}</option>
			{{/each}}
		</script>
		<!-- 科室下拉框 -->
		<script type="text/html" id="branchSelctTemplate">
			{{each branchList as item i}}
			<option value="{{item.id}}">{{item.branchName}}</option>
			{{/each}}
		</script>
		<!-- 省/市/县下拉框模板 -->
		<script type="text/html" id="selctTemplate">
			{{each list as item i}}
			<option value="{{item.id}}">{{item.name}}</option>
			{{/each}}
		</script>
		<!-- 机构列表模板  -->
		<script type="text/html" id="branchListTemplate">
			{{if branchList.length > 0}}
				{{each branchList as item i}}
				<tr>
					<td>
						<a href="#" branchid="{{item.id}}" orgId="{{item.orgId}}" class="change_branchName" class="editable">{{item.branchName}}</a></td>
					<td>{{item.orgName}}</td>
					<td></td>
					<td class="roomCountTD text-center">
						<a href="javascript:void(0);" onclick="branchModule.goRoom('{{item.id}}')">
							{{item.roomCount}}个
						</a>
					</td>
					<td class="text-center">{{item.createTime}}</td>
					<td class="text-center createStaffTD">{{item.createStaffName}}</td>
					<td class="text-center OPerateBranch">
						<a href="javascript:void(0);" class="viewItemBut" onclick="branchModule.showCOItem('{{item.id}}')">查看</a>
						<a href="javascript:void(0);" class="delItemBut" onclick="branchModule.delBranchItem('{{item.id}}')">删除</a>
						<a href="javascript:void(0);" class = "js-btn-WX-url" wxType= "branch"  branchId = '{{item.id}}'">二维码</a>
					</td>
				</tr>
				{{/each}}
			{{/if}}
			{{if branchList.length == 0}}
				<tr>
					<td colspan="6" class="text-center">
						暂无数据，点击<a href="javascript:void(0);" onclick="branchModule.loadBranchList(true,1)">刷新数据</a>
					</td>
				</tr>
			{{/if}}
		</script>
		
		<!-- 机构列表模板  -->
		<script type="text/html" id="companyBranchListTemplate">
			{{if branchList.length > 0}}
				{{each branchList as item i}}
				<tr>
					<td>{{item.branchName}}</td>
					<td>{{item.orgName}}</td>
					<td>{{item.dudao}}</td>
					<td class="roomCountTD text-center">
						<a href="javascript:void(0);" onclick="branchModule.goRoom('{{item.branchId}}')">
							{{item.roomCount}}个
						</a>
					</td>
					<td class="text-center">{{item.createTime}}</td>
					<td class="text-center createStaffTD">{{item.createStaffName}}</td>
					<td class="text-center">
						<a href="javascript:void(0);" class="viewItemBut" onclick="branchModule.showCOItem('{{item.dudaoIds}}', '{{item.branchId}}')">查看</a>
						<zz class="viewItemBut">&#124;</zz>
						<a href="javascript:void(0);" class="delItemBut" onclick="branchModule.delCompanyBranchItem('{{item.id}}')">删除关联</a>
&#124;
						<a href="javascript:void(0);" class = "js-btn-WX-url" wxType= "branch"  branchId = '{{item.branchId}}'">二维码</a>
					</td>
				</tr>
				{{/each}}
			{{/if}}
			{{if branchList.length == 0}}
				<tr>
					<td colspan="6" class="text-center">
						暂无数据，点击<a href="javascript:void(0);" onclick="branchModule.loadBranchList(true,1)">刷新数据</a>
					</td>
				</tr>
			{{/if}}
		</script>
		<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/template.js"></script>
		<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
		<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
		<script type="text/javascript" defer async="true"  src="https://webapi.amap.com/maps?v=1.3&key=76995f30ba8965c259c624c3a3fa5777"></script>
		<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
		<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
		<script type="text/javascript" src="../js/app/branch.js?111"></script>
		<script src="../js/bootstrap-select/bootstrap-select.js"></script>
		<script src="../js/bootstrap-select/i18n/defaults-zh_CN.min.js"></script>
		<script type="text/javascript" src="../js/app/fun.js"></script>
		<script type="text/javascript" src="../js/bootstrap-editable/bootstrap-editable.min.js"></script>
	</body>
</html>