<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>易简医</title>
	<link href="../css/bootstrap-reset.css" rel="stylesheet" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/style.css" rel="stylesheet" />
	<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
	<link href="../css/r-panel.css" rel="stylesheet" />
	<link href="../fonts/css/font-awesome.css" />
	<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
	<link href="../css/app.css" />
</head>

<body style="background-color: white;">
	<div class="container-fluid">
		<div class="panel-body">
			<div class="row">
				<!-- search form start-->
				<form class="form-inline" role="form">
					<div class="row">
						<div class="m-bot15 col-lg-12 form-group">
							<!-- <div class="col-lg-12 m-bot15"> -->
							<button type="button" class="btn btn-success btn-sm m-bot15" onclick="companyModule.addCompany()">
				                        	<i class="fa fa-plus"></i>&nbsp;&nbsp;添加合作伙伴
				                        </button>
							<select onchange="companyModule.changeStateSelected()" id="companyStateSel" class="form-control m-bot15" style="width: 150px;padding-top:0;padding-bottom:0;"
							 id="stateSelect">
			                                <option value="3" selected>请选择公司状态</option>
			                                <option value="0">待审核</option>
			                                <option value="1">已通过审核</option>
			                                <option value="-2">已驳回</option>
			                            </select>
							<input type="text" class="form-control m-bot15" placeholder="请输入公司名进行搜索" id="findCompanyName">
							<select class="form-control m-bot15" style="width: 150px;padding-top:0;padding-bottom:0;" id="proSelct" onchange="companyModule.selctChange('pro',this)">
			                                <option value="">请选择省份</option>
			                         	</select>
							<select class="form-control m-bot15" style="width: 150px;padding-top:0;padding-bottom:0;" id="citySelct" onchange="companyModule.selctChange('city',this)">
			                                <option value="">请选择城市</option>
			                            </select>
							<button type="button" class="btn btn-primary btn-sm m-bot15" onclick="companyModule.loadCompanyList(true,1);">
				                        	<i class="fa fa-search"></i>&nbsp;&nbsp;查询
				                        </button>
							<!--  </div> -->
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<!-- search form end-->
				<div class="adv-table">
					<table class="display table table-bordered table-striped" id="dynamic-table">
						<thead>
							<tr>
								<th>公司名称</th>
								<th>省份</th>
								<th>市</th>
								<th>联系电话</th>
								<th>官网</th>
								<th class="text-center">申请时间</th>
								<th class="text-center">审核状态</th>
								<th class="coCountTD text-center">项目点个数</th>
								<th class="checkTD text-center">操作</th>
							</tr>
						</thead>
						<tbody id="companyListContent">
							<tr>
								<td colspan="9" class="text-center">
									数据载入中...
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="pagination" id="pagination"></ul>
				</div>
			</div>
			<!--body wrapper end-->
		</div>
	</div>

	<!-- 右侧弹出panel -->
	<div id="linkCO" class="r_panel">
		<div class="panel-header">
			<button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
		            	<span aria-hidden="true">&times;</span>
		            </button>
			<h4 class="modal-title">新增关联</h4>
		</div>

		<div class="panel-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6">
						<form class="form-inline" role="form">
							<div class="adv-table">
								<table class="display table table-bordered table-striped" id="dynamic-table">
									<thead>
										<tr>
											<th>已关联机构</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody id="coListContent">
										<tr>
											<td colspan='2' class="text-center">
												暂无数据...
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</form>
					</div>
					<div class="col-lg-6">
						<form class="form-horizontal" role="form" name="addCOForm">
							<div class="form-group">
								<label class="col-sm-5 control-label">机构所在省份</label>
								<div class="col-sm-7">
									<select class="form-control" id="addCompany_proSelct" onchange="companyEditModule.selctChange('pro',this)" style="height:33px">
					                        	<option value="">请选择省份</option>
					                        </select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-5 control-label">机构所在城市</label>
								<div class="col-sm-7">
									<select class="form-control" id="addCompany_citySelct" onchange="companyEditModule.selctChange('city',this)" style="height:33px">
					                        	<option value="">请选择城市</option>
					                        </select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-5 control-label">选择机构 *</label>
								<div class="col-sm-7">
									<select class="form-control" id="addCO_ORGListHtml" style="height:33px">
					                        	<option value="">请选择机构</option>
					                        </select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12" style="text-align:right;">
									<button type="button" class="btn btn-success modal_save" onclick="companyModule.addCO()" id="saveLinkCO">保存关联</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 右侧弹出panel -->

	<!-- 右侧弹出panel -->
	<div id="addCompany_panel" class="r_panel">
		<div class="panel-header">
			<button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
	            </button>
			<h4 class="modal-title">新增合作伙伴</h4>
		</div>
		<div class="panel-body">
			<div class="container-fluid">
				<form class="form-horizontal" role="form" name="addCompanyForm" id="addCompanyForm">
					<input type="hidden" name=lng id="addCompany_lng" />
					<input type="hidden" name="lat" id="addCompany_lat" />
					<input type="hidden" name="adcode" id="addCompany_adcode" />
					<input type="hidden" name="provinceID" id="addCompany_provinceID" />
					<input type="hidden" name="cityID" id="addCompany_cityID" />
					<input type="hidden" name="district" id="addCompany_district" />
					<input type="hidden" name="address" id="addCompany_address" />


					<div class="form-group">
						<label class="col-sm-3 control-label">公司名称 *</label>
						<div class="col-sm-5">
							<div class="iconic-input">
								<i class="fa fa-home"></i>
								<input type="text" class="form-control" placeholder="请输入公司名称" name="companyName" id="addCompany_name">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">地址 *</label>
						<div class="col-sm-5">
							<div class="iconic-input">
								<i class="fa fa-map-marker"></i>
								<input type="text" class="form-control" placeholder="请输入机构所在地点" name="building" id="addCompany_building">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">联系人 *</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" placeholder="请输入公司的联系人" name="building" id="addCompany_linkman">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">手机号 *</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" name="adminPhone" placeholder="请输入手机号" id="addCompany_adminPhone" required>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">法人 *</label>
						<div class="col-sm-5">
							<div class="iconic-input">
								<i class="fa fa-user"></i>
								<input type="text" class="form-control" placeholder="请输入公司法人" name="legalManName" id="addCompany_legalManName">
							</div>
						</div>
					</div>
					<!-- 机构法人证件 -->
					<div class="form-group">
						<label class="col-lg-3 control-label">法人证件 *</label>
						<div class="col-lg-9">
							<input type="file" name="file" onchange="companyModule.ajaxFileUpload('addCompany_', 'legalManLicence', 'addCompany_legalManLicenceFile')"
							 id="addCompany_legalManLicenceFile" />
							<img id="addCompany_legalManLicence_img" height="50%" width="50%" />
							<input type="hidden" id="addCompany_legalManLicence" required/>
						</div>
					</div>

					<!-- 机构营业执照 -->
					<div class="form-group">
						<label class="col-lg-3 control-label">营业执照 *</label>
						<div class="col-lg-9">
							<input type="file" name="file" onchange="companyModule.ajaxFileUpload('addCompany_', 'businessLicence', 'addCompany_businessLicenceFile')"
							 id="addCompany_businessLicenceFile" />
							<img id="addCompany_businessLicence_img" height="50%" width="50%" />
							<input type="hidden" id="addCompany_businessLicence" required/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">公司官网</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" placeholder="输入机构官网地址" name="officialWebsite" id="addCompany_offcialWebSite">
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-8" style="text-align:right;">
							<button type="button" class="btn btn-default rp_close">取消</button>
							<button type="button" class="btn btn-success modal_save" onclick="companyModule.saveCompany()" id="addCompanyBtn">保存</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="showCompanyInfo_panel" class="r_panel">
		<div class="panel-header">
			<button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
	            </button>
			<h4 class="modal-title">公司信息查看</h4>
		</div>
		<div class="panel-body">
			<div class="container-fluid">
				<form id="showInfoForm" class="form-horizontal" role="form" name="showOrgForm">
					<input type="hidden" name='lng' id="showCompanyInfo_lng" />
					<input type="hidden" name="lat" id="showCompanyInfo_lat" />
					<input type="hidden" name="adcode" id="showCompanyInfo_adcode" />
					<input type="hidden" name="provinceID" id="showCompanyInfo_provinceID" />
					<input type="hidden" name="cityID" id="showCompanyInfo_cityID" />
					<input type="hidden" name="district" id="showCompanyInfo_district" />
					<input type="hidden" name="address" id="showCompanyInfo_address" />
					<input type="hidden" name="id" id="showCompanyInfo_id" />
					<div class="form-group">
						<label class="col-sm-3 control-label">公司名称 *</label>
						<div class="col-sm-5">
							<div class="iconic-input">
								<i class="fa fa-home"></i>
								<input type="text" class="form-control" placeholder="请输入机构或项目点完整名称" id="showCompanyInfo_companyName" disabled="disabled">
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">地址 *</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" placeholder="详细地址" name="address" id="showCompanyInfo_building" disabled="disabled">
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">联系人 *</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" placeholder="联系人" id="companyInfoLinkman" disabled="disabled">
						</div>
					</div>


					<div class="form-group">
						<label class="col-sm-3 control-label">电话 *</label>
						<div class="col-sm-5">
							<input type="text" class="form-control" placeholder="联系电话" id="companyAdminPhone" disabled="disabled">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">法人 *</label>
						<div class="col-sm-5">
							<div>
								<!--<i class="fa fa-map-marker"></i>-->
								<input type="text" class="form-control" placeholder="法人" id="companyInfoLegalManName" disabled="disabled">
							</div>
						</div>
					</div>
					<!-- 机构法人证件 -->
					<div class="form-group">
						<label class="col-lg-3 control-label">法人证件 *</label>
						<div class="col-lg-9">
							<input type="file" onchange="companyModule.ajaxFileUpload('showCompanyInfo_', 'legalManLicence', 'update_legalManLicenceFile')"
							 name="file" id="update_legalManLicenceFile" />
							<img id="showCompanyInfo_legalManLicence_img" height="50%" width="50%" />
							<input type="hidden" id="showCompanyInfo_legalManLicence" required/>
						</div>
					</div>

					<!-- 机构营业执照 -->
					<div class="form-group">
						<label class="col-lg-3 control-label">营业执照 *</label>
						<div class="col-lg-9">
							<input type="file" onchange="companyModule.ajaxFileUpload('showCompanyInfo_', 'businessLicence', 'update_businessLicenceFile')"
							 name="file" id="update_businessLicenceFile" />
							<img id="showCompanyInfo_businessLicence_img" height="50%" width="50%" />
							<input type="hidden" id="showCompanyInfo_businessLicence" required/>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">官网 *</label>
						<div class="col-sm-5 form-inline">
							<input type="text" class="form-control" placeholder="官网" id="companyInfoOfficialWebsite" disabled="disabled">
							<a id="companyWebsite" target="_blank" href=""></a>
						</div>
					</div>
					<input type="text" class="hidden form-control" id="companyInfoId">

					<div class="form-group">
						<div class="col-sm-8" style="text-align:right;">
							<button type="button" class="btn btn-success" id="toEditBtn" onclick="companyModule.editCompany()">编辑</button>
							<button type="button" class="btn btn-default hidden" id="cancelEditBtn" onclick="companyModule.cancelEdit()">取消</button>
							<button type="button" class="btn btn-success hidden" id="updateCompanyBtn" onclick="companyModule.updateCompany()">保存</button>
							<button type="button" class="btn btn-success" id="addCOBut" onclick="companyModule.toLink()">下一步</button>
							<button type="button" class="btn btn-danger" id="failCheckBtn" onclick="companyModule.fail()">驳回</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/html" id="companyListTemplate">
		{{if companyList.length > 0}} {{each companyList as item i}}
		<tr>
			<td>{{item.companyName}}</td>
			<td>{{item.province}}</td>
			<td>{{item.city}}</td>
			<td>{{item.adminPhone}}</td>
			<td>{{item.officialWebsite}}</td>
			<td class="text-center">{{item.createTime}}</td>
			<td class="text-center">
				{{if item.state == 1}}
				<font color='#47A447'>已通过审核</font>
				{{else if item.state == undefined}}
				<font color='#3590CE'>待审核</font>
				{{else if item.state == 4294967294}}
				<font color='#BEBEBE'>已驳回</font>
				{{/if}}
			</td>
			<td class="text-center coCountTD">
				<u>
					<!--<a href="javascript:void(0);" class="checkCompanyLink" onclick="companyModule.toLink('{{item.id}}')">{{item.coCount}}个</a>
							<zz class="checkCompanyLink">&#124;</zz>-->
					{{if item.state == 1}}
					<a href="javascript:void(0);" onclick="companyModule.goCO('{{item.id}}')">{{item.coCount}}个</a> {{else}} {{/if}}
				</u>
			</td>
			<td class="text-center checkTD">
				{{if item.state == undefined}}
				<a href="javascript:void(0);" class="checkInfoBtn" onclick="companyModule.checkInfo('{{item.id}}','0')">审核</a>
				<!--<zz class="coCountTD">&#124;</zz>
							<a href="javascript:void(0);" class="delCompanyBtn" onclick="companyModule.delCompanyItem('{{item.id}}')">删除</a>-->
				{{else if item.state == 4294967294}} {{else}}
				<a href="javascript:void(0);" class="checkInfoBtn" onclick="companyModule.checkInfo('{{item.id}}','1')">查看</a>
				<zz class="coCountTD">&#124;</zz>
				<a href="javascript:void(0);" class="delCompanyBtn" onclick="companyModule.delCompanyItem('{{item.id}}')">删除</a> {{/if}}
			</td>
		</tr>
		{{/each}} {{/if}} {{if companyList.length == 0}}
		<tr>
			<td colspan="9" class="text-center">
				暂无数据，点击<a href="javascript:void(0);" onclick="companyModule.loadCompanyList(true,1)">刷新数据</a>
			</td>
		</tr>
		{{/if}}
	</script>
	<script type="text/html" id="coListTemplate">
		{{if orgList.length > 0}} {{each orgList as item i}}
		<tr>
			<td>{{item.orgName}}</td>
			<td><a href="javascript:void(0);" onclick="companyModule.delCO({{item.id}})">删除关联<i class="fa fa-trash-o"></i></a></td>
		</tr>
		{{/each}}
		<tr id='finishButtonTR'>
			<td colspan='2' class='text-center'>
				<button type="button" style="width:80%;" class="btn btn-info" onclick="companyModule.finish()" id="finish">提交通过</button>
			</td>
		</tr>
		{{/if}} {{if orgList.length == 0}}
		<tr>
			<td colspan='2' class="text-center">
				暂无数据，左侧添加
			</td>
		</tr>
		{{/if}}
	</script>
	<!-- 省/市/县下拉框模板 -->
	<script type="text/html" id="selctTemplate">
		{{each list as item i}}
		<option value="{{item.id}}">{{item.name}}</option>
		{{/each}}
	</script>
	<!-- 机构下拉框 -->
	<script type="text/html" id="orgSelctTemplate">
		{{if orgList.length > 0}} {{each orgList as item i}}
		<option value="{{item.id}}">{{item.orgName}}</option>
		{{/each}} {{/if}} {{if orgList.length == 0}}
		<option>该地区下暂无机构可选</option>
		{{/if}}
	</script>
	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/app/common/toast.js"></script>
	<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
	<script type="text/javascript" src="../js/plugins/template.js"></script>
	<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
	<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
	<script type="text/javascript" defer async="true" src="https://webapi.amap.com/maps?v=1.3&key=76995f30ba8965c259c624c3a3fa5777"></script>
	<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
	<script type="text/javascript" src="../js/app/checkcompany.js"></script>
	<script type="text/javascript" src="../js/ajaxfileupload.js"></script>
</body>

</html>