<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>易简医</title>
	<link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="../css/bootstrap-reset.css" rel="stylesheet" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/style.css" rel="stylesheet" />
	<link href="../js/bootstrap-editable/bootstrap-editable.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order-prepay.css" />
	<link href="../css/newOrder.css" rel="stylesheet" />
	<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
	<link href="../css/r-panel.css" rel="stylesheet" />
	<link href="../fonts/css/font-awesome.css" />
	<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
	<link href="../css/app.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order_pay.css" />
</head>

<body style="background: #fff;">
	<div class="container-fluid">
		<div class="panel-body">
			<div class="row">
				<form class="form-inline m-bot15" role="form">
					<div class="row">
						<div class="col-lg-12 form-group">
							<label class="form-label">&nbsp;&nbsp;过滤时间：</label>
							<input type="text" class="form-control input-large" name="daterange-start" value="年/月/日" />
							<label class="form-label">&nbsp;至&nbsp;</label>
							<input type="text" class="form-control input-large" name="daterange-end" value="年/月/日" />
							<input type="hidden" id="order-regBeginTime">
							<input type="hidden" id="order-regEndTime">
							<label class="form-label">&nbsp;&nbsp;机构过滤：&nbsp;&nbsp;</label>
							<!--<select class="org_company"></select>-->
							<select class="form-control org_hos org_hide" style="padding-top: 0; padding-bottom: 0;"></select>
							<select class="form-control org_branch org_hide" style="padding-top: 0; padding-bottom: 0;"></select>
							<button type="button" class="btn btn-primary btn-sm" id="org-search">
                    			<i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                   			</button>
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="adv-table much-table">
					<table class="display table table-bordered table-striped dynamic-table">
						<thead>
							<tr>
								<th class="th_col" rowspan="2" style="width: 20%;"><span>日期</span></th>
								<th class="th_col" rowspan="2">
									<span>消费总额
										<i id="fee_count" class="pop-infos"  data-container="body" data-content="普陪服务+专陪服务+附加服务" data-toggle="popover" data-placement="bottom"></i>
									</span>
								</th>
								<th class="th_col" colspan="3">
									<span>机构服务
										<i id="org_count" class="pop-infos" data-container="body" data-content="当天机构订单产生的服务价值总额" data-toggle="popover" data-placement="bottom"></i>
									</span>
								</th>
							</tr>
							<tr>
								<th class="th_col" style="width: 20%;"><span>普陪服务</span></th>
								<th class="th_col" style="width: 20%;"><span>专陪服务</span></th>
								<th class="th_col" style="width: 20%;"><span>附加服务</span></th>
							</tr>
						</thead>
						<tbody id="consumeListContent">
							<tr>
								<td colspan="12" class="text-center">
									数据载入中...
								</td>
							</tr>
						</tbody>
					</table>
					<!--<ul class="pagination" id="pagination"></ul>-->
				</div>
			</div>
		</div>
	</div>
	<script type="text/html" id="consumeTemplate">
		{{if expenditureList.length > 0}} {{each expenditureList as item i}}
		<tr>
			<td>{{item.expenditureTime}}</td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="consume_open" type="0" href="javascript:void(0);">{{item.expenditureFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="consume_open" type="{{item.expenditureNType}}" href="javascript:void(0);">{{item.expenditureNFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="consume_open" type="{{item.expenditureONEType}}" href="javascript:void(0);">{{item.expenditureONEFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="consume_open" type="{{item.expenditureAdditionType}}" href="javascript:void(0);">{{item.expenditureAdditionFee}}</a></td>
		</tr>
		{{/each}} {{/if}} {{if expenditureList.length == 0}}
		<tr>
			<td colspan="5" class="text-center">
				暂无数据
			</td>
		</tr>
		{{/if}}
	</script>
	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/app/common/toast.js"></script>
	<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
	<script type="text/javascript" src="../js/plugins/template.js"></script>
	<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
	<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../js/bootstrap-daterangepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="../js/app/fun.js"></script>
	<script type="text/javascript" src="../js/app/common/tools.js"></script>
	<script type="text/javascript" src="../js/bootstrap-editable/bootstrap-editable.min.js"></script>
	<script src="../js/app/order_date.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/app/commonFunc.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/app/consume_org.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>