<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>易简医</title>
	<link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="../css/bootstrap-reset.css" rel="stylesheet" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/style.css" rel="stylesheet" />
	<link href="../js/bootstrap-editable/bootstrap-editable.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order-prepay.css" />
	<link href="../css/newOrder.css" rel="stylesheet" />
	<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
	<link href="../css/r-panel.css" rel="stylesheet" />
	<link href="../fonts/css/font-awesome.css" />
	<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
	<link href="../css/app.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order_pay.css" />
</head>

<body style="background: #fff;">
	<div class="container-fluid">
		<div class="panel-body">
			<div class="row">
				<form class="form-inline m-bot15" role="form">
					<div class="row">
						<div class="col-lg-12 form-group">
							<label class="form-label">&nbsp;&nbsp;过滤时间：</label>
							<input type="text" class="form-control input-large" name="daterange-start" value="年/月/日" />
							<label class="form-label">&nbsp;至&nbsp;</label>
							<input type="text" class="form-control input-large" name="daterange-end" value="年/月/日" />
							<input type="hidden" id="order-regBeginTime">
							<input type="hidden" id="order-regEndTime">
							<label class="form-label">&nbsp;&nbsp;合作伙伴过滤：&nbsp;&nbsp;</label>
							<select class="form-control org_company"  style="padding-top: 0; padding-bottom: 0;"></select>
							<select class="form-control org_hos org_hide"  style="padding-top: 0; padding-bottom: 0;"></select>
							<select class="form-control org_branch org_hide"  style="padding-top: 0; padding-bottom: 0;"></select>
							<button type="button" class="btn btn-primary btn-sm" id="home-search">
                    			<i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                   			</button>
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="adv-table much-table">
					<table class="display table table-bordered table-striped dynamic-table">
						<thead>
							<tr>
								<th class="th_col th_row" rowspan="2" style="width: 7.14%;"><span>日期</span></th>
								<th class="th_col th_row" rowspan="2" style="width: 7.14%;"><span>消费总额
									<i class="pop-infos" data-container="body" data-content="居家照顾+家庭护士+康复护理+中医理疗+金牌月嫂+就医陪护+心理慰藉+产后恢复+育婴幼教+临终关怀+普通附加服务+长护险生活照料" data-toggle="popover" data-placement="bottom"></i></span>
								</th>
								<th class="th_col th_row" colspan="12"><span>居家服务
									<i class="pop-infos" data-container="body" data-content="当天居家订单产生的服务价值总额" data-toggle="popover" data-placement="bottom"></i>
									</span>
								</th>
							</tr>
							<tr>
								<th style="width: 7.14%;"><span>居家照顾</span></th>
								<th style="width: 7.14%;"><span>家庭护士</span></th>
								<th style="width: 7.14%;"><span>康复护理</span></th>
								<th style="width: 7.14%;"><span>中医理疗</span></th>
								<th style="width: 7.14%;"><span>金牌月嫂</span></th>
								<th style="width: 7.14%;"><span>就医陪护</span></th>
								<th style="width: 7.14%;"><span>心理慰藉</span></th>
								<th style="width: 7.14%;"><span>产后恢复</span></th>
								<th style="width: 7.14%;"><span>育婴幼教</span></th>
								<th style="width: 7.14%;"><span>临终关怀</span></th>
								<th style="width: 7.14%;"><span>普通附加服务</span></th>
								<th style="width: 7.14%;"><span>长护险生活照料</span></th>
							</tr>
						</thead>
						<tbody id="consumeListContent">
							<tr>
								<td colspan="14" class="text-center">
									数据载入中...
								</td>
							</tr>
						</tbody>
					</table>
					<!--<ul class="pagination" id="pagination"></ul>-->
				</div>
			</div>
		</div>
	</div>
	<script type="text/html" id="consumeTemplate">
		{{if expenditureList.length > 0}} {{each expenditureList as item i}}
		<tr>
			<td>{{item.expenditureTime}}</td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="home_open" type="0" href="javascript:void(0);">{{item.expenditureFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="home_open" type="{{item.expenditureJJZGType}}" href="javascript:void(0);">{{item.expenditureJJZGFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="home_open" type="{{item.expenditureJTHSType}}" href="javascript:void(0);">{{item.expenditureJTHSFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="home_open" type="{{item.expenditureJKHLType}}" href="javascript:void(0);">{{item.expenditureJKHLFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="home_open" type="{{item.expenditureZYLLType}}" href="javascript:void(0);">{{item.expenditureZYLLFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="home_open" type="{{item.expenditureJPYSType}}" href="javascript:void(0);">{{item.expenditureJPYSFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="home_open" type="{{item.expenditureJYHLType}}" href="javascript:void(0);">{{item.expenditureJYHLFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="home_open" type="{{item.expenditureXLWJType}}" href="javascript:void(0);">{{item.expenditureXLWJFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="home_open" type="{{item.expenditureCHHFType}}" href="javascript:void(0);">{{item.expenditureCHHFFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="home_open" type="{{item.expenditureYYYJType}}" href="javascript:void(0);">{{item.expenditureYYYJFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="home_open" type="{{item.expenditureLZGHType}}" href="javascript:void(0);">{{item.expenditureLZGHFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="home_open" type="{{item.expenditureFJXType}}" href="javascript:void(0);">{{item.expenditureFJXFee}}</a></td>
			<td><a branchId="{{item.branchId}}" orgId="{{item.orgId}}" companyId="{{item.companyId}}" startDate="{{item.startDate}}" endDate="{{item.endDate}}" class="home_open" type="{{item.expenditureCHXType}}" href="javascript:void(0);">{{item.expenditureCHXFee}}</a></td>
		</tr>
		{{/each}} {{/if}} {{if expenditureList.length == 0}}
		<tr>
			<td colspan="14" class="text-center">
				暂无数据
			</td>
		</tr>
		{{/if}}
	</script>
	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/app/common/toast.js"></script>
	<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
	<script type="text/javascript" src="../js/plugins/template.js"></script>
	<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
	<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../js/bootstrap-daterangepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="../js/app/fun.js"></script>
	<script type="text/javascript" src="../js/app/common/tools.js"></script>
	<script type="text/javascript" src="../js/bootstrap-editable/bootstrap-editable.min.js"></script>
	<script src="../js/app/order_date.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/app/commonFunc.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/app/consume_home.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>