<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>易简医</title>
	<link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="../css/bootstrap-reset.css" rel="stylesheet" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/style.css" rel="stylesheet" />
	<link href="../js/bootstrap-editable/bootstrap-editable.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order-prepay.css" />
	<link href="../css/newOrder.css" rel="stylesheet" />
	<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
	<link href="../css/r-panel.css" rel="stylesheet" />
	<link href="../fonts/css/font-awesome.css" />
	<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
	<link href="../css/app.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order_pay.css" />
	<style type="text/css">
		.row{
			position: relative;
		}
		.sure-service{
			position: absolute;
			top:50%;
			right:100px;
			transform: translateY(-50%);
		}
		.sure-service i{
			color: red;
			font-weight: bold;
			margin-right:5px;
		}
	</style>
</head>

<body style="background: #fff;">
	<div class="container-fluid">
		<div class="panel-body">
			<div class="row m-bot15 " style="color: #000; padding: 10px 0;">
				<form class="form-inline" role="form">
					<div class="row">
						<div class="col-lg-12 form-group">
							<!--<label class="form-label">&nbsp;&nbsp;机构过滤：&nbsp;&nbsp;</label>-->
							<select class="form-control org_hos org_hide" style="padding-top: 0; padding-bottom: 0;"></select>
							<select class="form-control org_branch org_hide" style="min-width: 150px;padding-top: 0; padding-bottom: 0;"></select>
							<label class="form-label">&nbsp;&nbsp;支付方式：</label>
							<select class="form-control pay-type" style="padding-top: 0; padding-bottom: 0;">
								<option value="0">请选择</option>
								<option value="3">APP微信</option>
								<option value="2">H5微信</option>
								<option value="1">APP支付宝</option>
								<option value="6">会员支付</option>
								<option value="40">POS-微信</option>
								<option value="41">POS-支付宝</option>
								<option value="43">POS-QQ钱包</option>
								<option value="42">POS-储蓄卡</option>
								<option value="44">POS-信用卡</option>
							</select>
							<label class="form-label">&nbsp;&nbsp;操作人：&nbsp;&nbsp;</label>
							<select class="form-control staff-name" style="padding-top: 0; padding-bottom: 0;min-width: 150px;"></select>
							<button type="button" class="btn btn-primary btn-sm" id="return-search">
                    			<i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                   			</button>
						</div>
					</div>
				</form>
			</div>
			<div class="row">
					<form class="form-inline m-bot15" role="form">
						<div class="row">
							<div class="col-lg-12 form-group">
								<span class="btn btn-success btn-sm export">导出报表</span>
							</div>
						</div>
					</form>
				</div>
			<div class="row">
				<div class="adv-table much-table">
					<table class="display table table-bordered table-striped dynamic-table">
						<thead>
							<tr>
								<th style="width: 12.5%;">归还时间</th>
								<th style="width: 12.5%;">机构</th>
								<th style="width: 12.5%;">科室</th>
								<th style="width: 12.5%;">门禁卡编号</th>
								<th style="width: 16.5%;">关联订单</th>
								<th style="width: 8.5%;">退款金额</th>
								<th style="width: 12.5%;">退款方式</th>
								<th style="width: 12.5%;">收款人</th>
							</tr>
						</thead>
						<tbody id="loseContent">
							<tr>
								<td colspan="8" class="text-center">
									数据载入中...
								</td>
							</tr>
						</tbody>
					</table>
					<!--<ul class="pagination" id="pagination"></ul>-->
				</div>
			</div>
		</div>
	</div>
	<div id="order-mask-bg"></div>
	<div id="order-mask">
		<div class="ball_spin_fade">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<script type="text/html" id="loseTemplate">
		{{if extraList.length > 0}} 
			{{each extraList as item i}}
			<tr>
				<td>{{item.returnTime}}</td>
				<td>{{item.orgName}}</td>
				<td>{{item.branchName}}</td>
				<td>{{item.extraNO}}</td>
				<td><a title="订单详情-{{item.orderName}}" class="js-addTab-link" link="templates/orderDetail.html?orderId={{item.orderId}}" href="javascript:void(0);">{{item.orderId}}</a></td>
				<td>{{item.refundFeeStr}}</td>
				<td>{{item.refundPayTypeStr}}</td>
				<td>{{item.updateStaffName}}</td>
			</tr>
			{{/each}}
		{{/if}}
		{{if extraList.length <= 0}} 
			<tr>
				<td colspan="8" class="text-center">
					暂无数据...
				</td>
			</tr>
		{{/if}}
	</script>
	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/app/common/toast.js"></script>
	<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
	<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
	<script type="text/javascript" src="../js/plugins/template.js"></script>
	<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
	<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../js/bootstrap-daterangepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="../js/app/fun.js"></script>
	<script type="text/javascript" src="../js/app/common/tools.js"></script>
	<script type="text/javascript" src="../js/bootstrap-editable/bootstrap-editable.min.js"></script>
	<script src="../js/app/commonFunc.js" type="text/javascript" charset="utf-8"></script>
	<script>
		$(function(){
			//获取url中的参数
			function getUrlParam(name) {
				let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
				let r = window.location.search.substr(1).match(reg); //匹配目标参数
				if(r != null) return unescape(r[2]);
				return null; //返回参数值
			}
			//实例化请求帮助类
			var httpUtilObj = new HttpUtil();
			var initParam = httpUtilObj.getTabParams();
			let startDate=initParam.startDate;
			let endDate=initParam.endDate;
			let orderType=initParam.orderType;
			let isAll=initParam.isAll;
			let type=initParam.type;
			let return_data={
				startDate:startDate,
				endDate:endDate,
			}
			return_data['extraStatus']=initParam.extraStatus;
			initData('init');
			initHos();
			$('.org_hos').on('change',initBranch);
			function initData(str){
				//实例化请求帮助类
				var httpUtilObj = new HttpUtil();
				let init_data=return_data;
				if(str!='init'){
					init_data['orgId']=$('.org_hos').hasClass('org_hide')?initParam.orgId:$('.org_hos').val();
					init_data['branchId']=$('.org_branch').val();
					init_data['payType']=$('.pay-type').val();
					init_data['createStaffName']=$('.staff-name').val();
				}else{
					init_data['orgId']=initParam.orgId;
				}
				httpUtilObj.ajax({
					url: '/adminjson/SAASGetOrgExtraDetail',
					params: init_data
				}).then((res)=>{
					$('#order-mask-bg').css('display','none');
					$('#order-mask').css('display','none');
					refreshList(res.body);
					bindData(res.body.count);
					if(str=='init'){
						let arr=res.body.updateStaffList;
						if(!arr.length){
							$('.staff-name').addClass('org_hide');
							return false;
						}
						$('.staff-name').empty();
						$('.staff-name').removeClass('org_hide');
						if(arr.length>1){
							$('.staff-name').append(`<option value="">所有</option>`);
						}
						arr.forEach((item,index)=>{
							let t_node=`<option value="${item}">${item}</option>`;
							$('.staff-name').append(t_node);
						});
					}
				})
			}
			let _flag=true;
			function bindData(count){
				$('.export').off('click').on('click',function(){
					if(!_flag){
						return false;
					}
					_flag=false;
					if(!count){
						Toast.error("暂无门禁卡导出");
						return false;
					}
					let httpUtilObj = new HttpUtil();
					let params =data;
					httpUtilObj.ajax({
						url: '/adminjson/SAASGetFormRecordExtraDownload',
						params: params
					}).then((res)=>{
						_flag=true;
						exportlxs(res.body.excelName,res.body.downloadFileUrl);//导出报表
					});
				})
			}
			function refreshList(data) {
				var fundsHtml = template('loseTemplate', data);
				$("#loseContent").empty().html(fundsHtml);
				//固定表头的方法--传入固定的table
				commonFunc.staticTable($('.dynamic-table'));
			}
			function exportlxs(name,url){
				bootbox.confirm({
					title: "导出",
					message: "<p>信息已导出至报表中心</p><p>文件名为："+name+"</p><p>是否立即下载？</p>",
					buttons: {
						confirm: {
							label: '<span xlsUrl="'+url+'">确定</span>',
							className: 'btn-xlsUrl btn-success'
						},
						cancel: {
							label: '取消',
							//					className: 'btn-danger'
						}
					},
					callback: function (isConfirm) {
						if (isConfirm) {
							location.href=$('.btn-xlsUrl span').attr('xlsUrl');
						}
					}
				});
			}
			let branchList='';
			function initHos(){
				let dtd = $.Deferred();
				let httpUtilObj = new HttpUtil();
				httpUtilObj.ajax({
					url: '/adminjson/SAASGetOrgExtraDetail',
					params:return_data,
				}).then((res)=>{//org_hos--
					let org_data=res.body.rightJson.orgList;
					$('.org_hos').empty();
					branchList=res.body.rightJson.branchMap;
					if(initParam.orgId==0){//需要选机构
						$('.org_hos').removeClass('org_hide');
						if(org_data.length>1){
							$('.org_hos').append(`<option value="0">所有机构</option>`);
						}
						org_data.forEach((item,index)=>{
							let optionNode='';
							optionNode=`
								<option value="${item.id}">${item.orgName}</option>
							`;
							$('.org_hos').append(optionNode);
						});
						initBranch('org');
					}else{//无需选机构
						initBranch('branch');
					}
				})
				return dtd.promise();
			};
			function initBranch(str){//org_branch
				let dtd = $.Deferred();
				let data='';
				if(str=='branch'){
					data=branchList[initParam.orgId];
				}else{
					if($('.org_hos option:selected').val()==0){
						$('.org_branch').addClass('org_hide');
						return false;
					}else{
						data=branchList[$('.org_hos option:selected').val()];
					}
				}
				$('.org_branch').empty();
				if(data==undefined||!data.length||isEmpty(branchList)||$('.org_hos option:selected').val()==0){
					$('.org_branch').addClass('org_hide');
					return false;
				}
				$('.org_branch').removeClass('org_hide');
				if(data.length>1){
					$('.org_branch').append(`<option value="0">所有科室</option>`);
				}
				data.forEach((item,index)=>{
					let optionNode='';
					optionNode=`
						<option value="${item.id}">${item.branchName}</option>
					`;
					$('.org_branch').append(optionNode);
				});
			};
			function isEmpty(obj) {
				for (var name in obj) {
					return false;
				}
				return true;
			}
			$('#return-search').off('click').on('click',function(){
				initData('search');
			})
		})
	</script>
</body>
</html>