<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>易简医</title>
		<link href="../css/bootstrap-reset.css" rel="stylesheet" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
		<link href="../css/r-panel.css" rel="stylesheet" />
		<link href="../fonts/css/font-awesome.css" />
		<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
		<link href="../js/bootstrap-editable/bootstrap-editable.css"  rel="stylesheet" />
		<link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
		<link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
		<link  href="../css/app.css" rel="stylesheet" />
		<style type="text/css">
			.entrance-info{
				color:black;
			}
			.entrance-info em{
				color:red;
			}
			.pop-entrance{
				position: relative;
				top:3px;
				width: 17px;
				height: 17px;
				display: inline-block;
				background: url(../images/infos.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				-webkit-background–size: cover;
				-moz-background–size: cover;
				-o-background–size: cover;
			}
		</style>
	</head>            
	<body style="background-color: white;">
		<div class="container-fluid">
			<div class="panel-body">
				<div class="row m-bot15 " style="color: #000; padding: 10px;">
					<form class="form-inline" role="form">
						<div class="row">
							<div class="col-lg-12 form-group">
								<label class="form-label">&nbsp;&nbsp;日期过滤：</label>
								<input type="text" class="form-control input-large" name="daterange-start" value="年/月/日" />
								<label class="form-label">&nbsp;至&nbsp;</label>
								<input type="text" class="form-control input-large" name="daterange-end" value="年/月/日" />
								<label class="form-label">&nbsp;&nbsp;机构过滤：&nbsp;&nbsp;</label>
								<select class="form-control org_hos" style="padding-top: 0; padding-bottom: 0;"></select>
								<select class="form-control org_branch org_hide" style="padding-top: 0; padding-bottom: 0;"></select>
								<button type="button" class="btn btn-primary btn-sm" id="entrance-search">
	                    			<i class="fa fa-search"></i>&nbsp;&nbsp;搜索
	                   			</button>
							</div>
						</div>
					</form>
				</div>
				<div class="m-bot15">
					<form class="form-inline" role="form">
						<div class="row">
							<div class="col-lg-12 form-group entrance-info">
								<span class="pastNumber">
									<b>当前过期卡数
										<i class="pop-entrance" data-container="body" data-content="出院三个月且用户未退还的门禁卡数的累计，该数据是动态的" data-toggle="popover" data-placement="bottom"></i>
										：<em>0</em> 张（<a class="entrance-detail" href="javascript:void(0);">点击查看明细</a>）；
									</b>
								</span>
								<span class="damagedNumber">
									<b>当前作废卡数：<em>0</em> 张（<a class="entrance-detail" href="javascript:void(0);">点击查看明细</a>）</b>；
								</span>
								<span class="returnedNumber">
									<b>当前归还卡数：<em>0</em> 张（<a class="entrance-detail" href="javascript:void(0);">点击查看明细</a>）</b>；
								</span>
								<span class="addNumber">
									<b>当前租借卡数：<em>0</em> 张（<a class="entrance-detail" href="javascript:void(0);">点击查看明细</a>）</b>
								</span>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					<div class="adv-table">
						<table class="display table table-bordered table-striped ServiceLivingListTable" style="margin-bottom: 0px;">
							<thead>
								<tr>
									<th style="width: 12.5%;">时间</th>
									<th style="width: 12.5%;">机构</th>
									<th style="width: 12.5%;">当日押金变动</th>
									<th style="width: 12.5%;">当日押金现金变动</th>
									<th style="width: 12.5%;">当日废卡赔偿金额</th>
									<th style="width: 12.5%;">当日租借卡数</th>
									<th style="width: 12.5%;">当日归还卡数</th>
									<th style="width: 12.5%;">当日作废卡数</th>
								</tr>
							</thead>
							<tbody id="entranceGuardListContent">
								<tr>
									<td colspan="8" class="text-center">
										数据载入中...
									</td>
								</tr>
							</tbody>
						</table>
						<div class="row panel-body">
							<ul class="pagination" id="pagination"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="order-mask-bg"></div>
		<div id="order-mask">
			<div class="ball_spin_fade">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<script type="text/html" id="entranceGuardListTemplate">
			{{if oeArray.length > 0}} 
				{{each oeArray as item i}}
					<tr>
						<td>{{item.date}}</td>
						<td>{{item.orgName}}</td>
						<td>{{item.pledgeVariation}}</td>
						<td>{{item.pledgeCashVariation}}</td>
						<td>{{item.compensationFee}}</td>
						<td><a class="entrance-detail" href="javascript:void(0);" status="4" title="门禁卡租借明细" link="templates/entranceAdd.html" orgid="{{item.orgId}}"  startdate="{{item.date}}" enddate="{{item.date}}">{{item.addNum}}</a></td>
						<td><a class="entrance-detail" href="javascript:void(0);" status="5" title="门禁卡归还明细" link="templates/entranceReturned.html" orgid="{{item.orgId}}"  startdate="{{item.date}}" enddate="{{item.date}}">{{item.returnNum}}</a></td>
						<td><a class="entrance-detail" href="javascript:void(0);" status="2" title="门禁卡作废明细" link="templates/entranceDamaged.html" orgid="{{item.orgId}}"  startdate="{{item.date}}" enddate="{{item.date}}">{{item.damagedNum}}</a></td>
					</tr>
				{{/each}}
				<tr>
					<td>合计</td>
					<td></td>
					<td>{{totalpledgeVariationFee}}</td>
					<td>{{totalpledgeCashVariationFee}}</td>
					<td>{{totalcompensationFee}}</td>
					<td>{{totalAddNum}}</td>
					<td>{{totalReturnNum}}</td>
					<td>{{totalDamagedNum}}</td>
				</tr>
			{{/if}}
			{{if oeArray.length <= 0}} 
				<tr>
					<td colspan="8" class="text-center">
						暂无数据...
					</td>
				</tr>
			{{/if}}
		</script>
		<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/app/common/toast.js"></script>
		<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/template.js"></script>
		<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
		<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
		<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
		<script type="text/javascript" src="../js/ajaxfileupload.js"></script>
		<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
		<script src="../js/bootstrap-daterangepicker/bootstrap-datetimepicker.min.js"></script>
		<script src="../js/app/order_date.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/app/commonFunc.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../js/app/entranceGuard.js"></script>
		<script type="text/javascript" src="../js/app/fun.js"></script>
	</body>

</html>