<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>易简医</title>
		<link href="../css/bootstrap-reset.css" rel="stylesheet" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
		<link href="../css/r-panel.css" rel="stylesheet" />
		<link href="../fonts/css/font-awesome.css" />
		<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
		<link  href="../css/app.css"/>
		<link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
		<style type="text/css">
			.target-font {
				font-size: 14px;
				border: 1px solid;
				padding: 1px;
				border-radius: 8px;
				margin-right: 2px;
			}
		</style>
	</head>

	<body style="background-color: white;">
		<div class="container-fluid">
			<div class="panel-body">
				<div class="row m-bot15 " style="color: #000; padding: 10px;">
				
					<form class="form-inline" role="form">
						<div class="row">
							<div class="col-lg-12 form-group">
								<label class="form-label">&nbsp;&nbsp;处理状态</label>
								<select class="form-control" style="width: 150px;height: inherit;" id="search_state">
									<option value="">请选择状态</option>
									<option value="1">未处理</option>
									<option value="2">已处理</option>
								</select>
								<label class="form-label">&nbsp;&nbsp;反馈来源</label>
								<select class="form-control" style="width: 150px;height: inherit;" id="search_type">
									<option value="0">请选择来源</option>
									<option value="1">用户端反馈</option>
									<option value="2">企业端反馈</option>
								</select>
								<label class="form-label">&nbsp;&nbsp;时间</label>
								<input type="text" class="form-control input-large" style="width: 200px;" name="daterange" value="请选择日期"/>
								<input type="hidden" id="beginTime">
								<input type="hidden" id="endTime">
								<button type="button" class="btn btn-primary btn-sm" id="searchBut" onclick="feedbackModule.loadFeedbackList(true,1);">
		                        	<i class="fa fa-search"></i>&nbsp;&nbsp;查询
		                        </button>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					<!-- search form end-->
					<div class="adv-table">
						<table class="display table table-bordered table-striped" id="dynamic-table">
							<thead>
								<tr>
									<th>用户id</th>
									<th>用户名</th>
									<th>手机号</th>
									<th>反馈来源</th>
									<th>创建时间</th>
									<th style="width: 60%;">意见/建议</th>
									<th>状态</th>
									<th>处理人</th>
									<th>备注</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="feedbackListContent">
								<tr>
									<td colspan="7" class="text-center">
										数据载入中...
									</td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination" id="pagination"></ul>
					</div>
				</div>
			</div>
		</div>

		<script type="text/html" id="feedbackListTemplate">
			{{if feedbackList.length != 0}} {{each feedbackList as item i}}
			<tr>
				<td>
					<a href='javascript:void(0);' link='templates/userInfo.html?key={{item.userId}}' class='js-addTab-link' title="用户信息"  >{{item.userId}}</a>
				</td>
				<td>
					{{item.userName}}
				</td>
				<td>
					{{item.phone}}
				</td>
				<td>
					{{item.fbType == 1 ? "用户端" : "企业端"}}
				</td>
				<td>
					{{item.createTime}}
				</td>
				<td style="width: 60%;">
					{{item.suggest}}
				</td>
				<td>
					{{item.stateStr}}
				</td>
				<td>
					{{item.replyStaffName}}
				</td>
				<td>
					{{if item.reply}}
						{{item.reply}}
					{{/if}}
				</td>
				<td>
					{{if item.state == 1}}
						<a href='javascript:void(0);' class="js-btn-replyFeedback" feedbackId='{{item.id}}'>回复</a>
					{{else}}					
						已回复
					{{/if}}
				</td>
			</tr>
			{{/each}} {{/if}} {{if feedbackList.length == 0}}
			<tr>
				<td colspan="7" class="text-center">
					数据载入中...
				</td>
			</tr>
			{{/if}}
		</script>

		<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/app/common/toast.js"></script>
		<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/template.js"></script>
		<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
		<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
		<script type="text/javascript" defer async="true" src="https://webapi.amap.com/maps?v=1.3&key=76995f30ba8965c259c624c3a3fa5777"></script>
		<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
		<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
		<script type="text/javascript" src="../js/app/feedback.js"></script>
		<script type="text/javascript" src="../js/app/fun.js"></script>
		<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
	</body>

</html>