<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>易简医</title>
		<link href="../css/bootstrap-reset.css" rel="stylesheet" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
		<link href="../css/r-panel.css" rel="stylesheet" />
		<link href="../fonts/css/font-awesome.css"/>
		<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet"/>
	    <link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
    	<link  href="../css/app.css"/>
	    <style type="text/css">
	    .bar {
		    height: 18px;
		    background: green;
		}
		</style>
	</head>
	<body style="background-color: white;">
		<div class="container-fluid">
	        <div class="panel-body">
	        	<div class="row">
		        	<form class="form-inline" role="form">
		        		<div class="row">
		                    <div class="m-bot15 col-lg-12 form-group">
		                    	<button type="button" class="btn btn-success btn-sm m-bot15"
		                    		id="showAddInfoBtn">
		                        	<i class="fa fa-plus"></i>&nbsp;&nbsp;新增资讯
		                        </button>
		                    </div>
		        		</div>
					</form>
				</div>	
				<div class="row">
		        	<div class="adv-table">
		        		<table  class="display table table-bordered table-striped" id="dynamic-table">
		        			<thead>
		        				<tr>
			        				<th>主标题</th>
			        				<th>副标题</th>
			        				<th>缩略图</th>
			        				<th>跳转链接</th>
			        				<th>描述</th>
			        				<th>创建时间</th>
			        				<th class="text-center">操作</th>
		        				</tr>
		        			</thead>
		        			<tbody id="infoListContent">
		        				<tr>
		        					<td colspan="8" class="text-center">
		        						数据载入中...
		        					</td>
		        				</tr>
		        			</tbody>
		        		</table>
						<ul class="pagination" id="pagination"></ul>
		        	</div>
	        	</div>
	        </div>
		</div>	
		
		<!-- 右侧弹出panel -->
	    <div id="addInfo_panel" class="r_panel">
	        <div class="panel-header">
	            <button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
	            </button>
	            <h4 class="modal-title">新增资讯</h4>
	        </div>
	        <div class="panel-body">
	            <div class="container-fluid">
	                <form class="form-horizontal" role="form" name="addInfoForm">
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">主标题 <span class="form-required"> * </span></label>
	                        <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="请输入资讯主标题" 
                                	name="addInfo_mianheading" id="addInfo_mianheading">
	                        </div>
	                    </div>
	                     <div class="form-group">
	                    	<label class="col-sm-3 control-label">副标题 <span class="form-required"> * </span></label>
	                        <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="请输入资讯副标题" 
                                	name="addInfo_subheading" id="addInfo_subheading">
	                        </div>
	                    </div>
	                    <div class="form-group">
                            <div class="col-sm-5">
	                             <input type="hidden" id="addInfo_createTime">
		                    </div>
                        </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">图片*</label>
	                        <div class="col-sm-5">
	                        	<input type="file" id="file1" name="bannerUpload"/>
								<img id="info_imgUrl_add" height="100" width="200"/>
								<input type="hidden" name="" id = "info_imgId_add">
		                    </div>
	                    </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">链接地址*</label>
	                        <div class="col-sm-5">
		                        <input type="text" class="form-control" placeholder="请输入跳转链接" name="addInfo_url" id="addInfo_url">
		                    </div>
	                    </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">描述</label>
	                        <div class="col-sm-5">
	                        	<textarea rows="" cols="" placeholder="请输入资讯描述" id="addInfo_desc"></textarea>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                        <div class="col-sm-8" style="text-align:right;">
		                        <button type="button" class="btn btn-default rp_close">取消</button>
		                        <button type="button" class="btn btn-success modal_save" id="addInfoBtn">保存</button>
	                        </div>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>			
		<!-- 右侧弹出panel -->
		
		
		<div id="showInfo_panel" class="r_panel">
	        <div class="panel-header">
	            <button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
	            </button>
	            <h4 class="modal-title">资讯编辑</h4>
	        </div>
	        <div class="panel-body">
	            <div class="container-fluid">
	                <form class="form-horizontal" role="form" name="showInfoForm">
	                	<input type="hidden" class="form-control" id="showInfo_id">
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">主标题</label>
	                        <div class="col-sm-5">
	                            <div class="iconic-input">
	                                <i class="fa fa-home"></i>
	                                <input type="text" class="form-control" placeholder="请输入主标题" 
	                                	id="showInfo_mainheading">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">副标题</label>
	                        <div class="col-sm-5">
	                            <div class="iconic-input">
	                                <i class="fa fa-home"></i>
	                                <input type="text" class="form-control" placeholder="请输入副标题" 
	                                	id="showInfo_subheading">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">图片*</label>
	                        <div class="col-sm-5">
	                        	<input type="file" id="file2" name="editBannerUpload"/>
								<img id="info_imgUrl_edit" height="100" width="200" src=""/>
								<input type="hidden" name="" id = "info_imgId_edit" value="">
		                    </div>
	                    </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">链接地址 *</label>
	                        <div class="col-sm-5">
	                        	<input type="text" class="form-control" placeholder="请输入链接地址" 
	                                	id="showInfo_url">
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">描述 *</label>
	                        <div class="col-sm-5">
	                        	<textarea rows="" cols="" id = "showInfo_desc" placeholder="请输入描述" ></textarea>
		                    </div>
	                    </div>
	                    <input type="hidden" id = "edit_info_id">
	                    <div class="form-group">
	                        <div class="col-sm-8" style="text-align:right;">
		                        <button type="button" class="btn btn-default rp_close">取消</button>
		                        <button type="button" class="btn btn-success modal_save" id="editInfoBtn">确定</button>
	                        </div>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
			
		<!-- 机构列表模板  -->
		<script type="text/html" id=infoListTemplate>
			{{if infoList.length > 0}}
				{{each infoList as item i}}
				<tr>
					
					<td>{{item.title}}</td>
					<td>{{item.sketch}}</td>
					<td><img src="{{item.imgUrl}}" height="100" width="200"></td>
					<td><span style="display: block;width: 400px;word-wrap: break-word;">{{item.url}}</span></td>
					<td>{{item.description}}</td>
					<td>{{item.createTime}}</td>
					<td class="text-center">
						<a href="javascript:void(0);" id = "showEditInfo" infoId={{item.id}}>编辑</a>
						<a href="javascript:void(0);" id = "delInfo" infoId={{item.id}}>删除</a>
					</td>
				</tr>
				{{/each}}
			{{/if}}
			{{if infoList.length == 0}}
				<tr>
					<td colspan="9" class="text-center">
						暂无数据
					</td>
				</tr>
			{{/if}}
		</script>
		
		<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/app/common/toast.js"></script>
		<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/template.js"></script>
		<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
		<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
		<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
		<script type="text/javascript" src="../js/ajaxfileupload.js"></script>
		<script src="../js/app/fun.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../js/app/information.js"></script>
		<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
		<script type="text/javascript">
			function ajaxFileUpload(type,fileId) {
			    $.ajaxFileUpload
			    (
			        {
			            url: '/imageupload?type=information', //用于文件上传的服务器端请求地址
			            secureuri: false, //是否需要安全协议，一般设置为false
			            fileElementId: fileId, //文件上传域的ID
			            dataType: 'json', //返回值类型 一般设置为json
			            success: function (data, status)  //服务器成功响应处理函数
			            {
			                if(data.errCode == 0) {
			                	$("#info_imgUrl_" + type).attr("src", data.imgUrl);
			                	$("#info_imgId_" + type).val(data.imageId);
			                } else {
			                	alert("上传失败");
			                }
			            },
			            error: function (data, status, e)//服务器响应失败处理函数
			            {
			                alert(e);
			            }
			        }
			    )
			    return false;
			}
		</script>
	</body>	
</html>