<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>易简医--长护险补贴管理</title>
		<link href="../css/bootstrap-reset.css" rel="stylesheet" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
		<link href="../css/r-panel.css" rel="stylesheet" />
		<link href="../fonts/css/font-awesome.css" />
		<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
		<link href="../css/app.css" rel="stylesheet" />
	</head>

	<body style="background-color: white;">
		<div class="container-fluid">
			<div class="panel-body">
				<!-- 头部条件区域 start -->
				<div class="row m-bot15 " style="color: #000; padding: 10px;">
					<form class="form-inline" role="form">
						<div class="row">
							<div class="col-lg-12 form-group">
								<input type="text" class="form-control" placeholder="订单号/身份证号" id="findUserName">
								<label class="form-label">&nbsp;&nbsp;创建时间：</label>
								<input type="text" class="form-control input-large" style="width: 200px;" name="daterange" value="请选择日期"/>
								<input type="hidden" id="regBeginTime">
								<input type="hidden" id="regEndTime">
								<button type="button" class="btn btn-primary btn-sm" id="searchBut">
		                        	<i class="fa fa-search"></i>&nbsp;&nbsp;查询
		                        </button>
							</div>
						</div>
					</form>
				</div>
				<!-- 头部条件区域 end -->
			
				<div class="row">
					<!-- search form end-->
					<div class="adv-table">
						<table class="display table table-bordered table-striped" id="dynamic-table">
							<thead>
								<tr>
									<th>时间</th>
									<th>订单号</th>
									<th>消费类型</th>
									<th>消费金额</th>
									<th>发放补贴状态</th>
									<th>补贴金额</th>
									<th>补贴发放时间</th>
									<th>操作人</th>
									<th>操作</th>
									
								</tr>
							</thead>
							<tbody id="subsidyListContent">
								<tr>
									<td colspan="8" class="text-center">
										数据载入中...
									</td>
								</tr>
							</tbody>
						</table>
						<ul class="pagination" id="pagination"></ul>
					</div>
				</div>
			</div>
		</div>
		<script type="text/html" id="subsidyListTemplate">
			{{if insureList.length != 0}} {{each insureList as item i}}
			<tr>
				<td>
					<span>{{item.createTime}}</span><br />
				</td>	
				<td>
					<span>{{item.orderId}}</span><br />
				</td>
				<td>
					{{if item.itemType == 0}}
						居家照护
					{{/if}}
					{{if item.itemType == 1}}
						医疗项目
					{{/if}}
				</td>
				<td>
					{{item.fee}}
				</td>
				<td>
					{{if item.status == 0}}
						未发放
					{{/if}}
					{{if item.status == 1}}
						已发放
					{{/if}}
				</td>
				<td>
					{{item.realFee}}
				</td>
				<td>
					<span>{{item.subsidyTime}}</span><br />
				</td>	
				<td>
					<span>{{item.createStaffName}}</span><br />
				</td>	
				<td>
					{{if item.status == 0}}
						{{if item.itemType == 0}}
							<a href="javascript:void(0);" class="js-btn js-btn-addSubsidy"  type="0" orderid="{{item.orderId}}" subsidyid="{{item.id}}" fee="{{item.fee}}">发放居家照护补贴</a><br />
						{{else}}
							<a href="javascript:void(0);" class="js-btn js-btn-addSubsidy"  type="1" orderid="{{item.orderId}}" subsidyid="{{item.id}}" fee="{{item.fee}}">发放医疗项目补贴</a><br />
						{{/if}}
					{{/if}}
				</td>
			</tr>
			{{/each}} {{/if}} {{if insureList.length == 0}}
			<tr>
				<td colspan="14" class="text-center">
					暂无数据...
				</td>
			</tr>
			{{/if}}
		</script>
		
		
		<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/app/common/toast.js"></script>
		<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/template.js"></script>
		<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
		<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
		<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
		<script type="text/javascript" src="../js/app/fun.js"></script>
		<script type="text/javascript" src="../js/app/common/tools.js"></script>
		<script type="text/javascript" src="../js/app/insuresubsidy.js"></script>
		<script type="text/javascript" defer async="true" src="https://webapi.amap.com/maps?v=1.3&key=76995f30ba8965c259c624c3a3fa5777"></script>
	</body>
</html>			
			
			