<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>易简医</title>
	<link href="../css/bootstrap-reset.css" rel="stylesheet" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/style.css" rel="stylesheet" />
	<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
	<link href="../css/r-panel.css" rel="stylesheet" />
	<link href="../fonts/css/font-awesome.css" />
	<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
	<link href="../js/bootstrap-editable/bootstrap-editable.css" rel="stylesheet" />
	<link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
	<link href="../css/app.css" rel="stylesheet" />
</head>

<body style="background-color: white;">
	<div class="container-fluid">
		<div class="panel-body">
			<div class="row m-bot15 form-inline" style="color: #000; padding: 10px;">
				<form role="form">

					<div class="form-group js-btngroup-stats">
						<button type="button" class="btn btn-primary btn-sm" id="addInsure">
                			<i class="fa fa-plus"></i>&nbsp;&nbsp;新增申请
               			</button>
						<label style="font-weight: bold;">&nbsp;&nbsp;状态：</label>
						<a href="#" value="-1" class="fRed">全部</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="#" value="0">客服审核</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="#" value="1">护士评估</a>&nbsp;&nbsp;
						<a href="#" value="50">客服驳回</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="#" value="2">等待提交复审</a>&nbsp;&nbsp;
						<a href="#" value="51">护士驳回</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<a href="#" value="3">等待复审</a>&nbsp;&nbsp;
						<a href="#" value="5">复审中</a>&nbsp;&nbsp;
						<a href="#" value="4">复审通过</a>&nbsp;&nbsp;
						<a href="#" value="52">复审驳回</a>&nbsp;&nbsp;
						<a href="#" value="53">已关闭</a>&nbsp;&nbsp;|&nbsp;&nbsp;
						<!--<a href="#" value="5">上门预约</a>&nbsp;&nbsp;-->
						<a href="#" value="4" orderStatus = "3">已下单</a>&nbsp;&nbsp;
						<a href="#" value="4" orderStatus = "1">无需预约</a>&nbsp;&nbsp;
						<input type="text" class="form-control" style="width: 251px;" placeholder="请输入申请单号、身份证号、姓名" id="findsfzh">
						<button type="button" class="btn btn-primary btn-sm js-btn-showInsureList" id="searchInsureBut">
                			<i class="fa fa-search"></i>&nbsp;&nbsp;查询
               			</button>
					</div>
				</form>
			</div>
			<div class="row output-box" style="display: none;">
				<form class="form-inline m-bot15" role="form">
					<div class="row">
						<div class="col-lg-12 form-group">
							<span outPutUrl="/adminjson/SAASGetFormInsureKinsfolk" class="btn btn-success btn-sm status-2-output kins-output">导出提交复审名单</span>
							<a class="downTemp-adl btn btn-success btn-sm a-button" download>批量导出评估表</a>
							<a class="downTemp-insureapply btn btn-success btn-sm a-button" download>批量导出申请表</a>
							<span outPutUrl="/adminjson/SAASBatchSubmitInformation" class="btn btn-success btn-sm status-2-output">批量提交资料</span>
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<!-- search form end-->
				<div class="adv-table">
					<table class="display table table-bordered table-striped" id="dynamic-table">
						<thead>
							<tr>
								<th>序号</th>
								<th>申请单信息</th>
								<th>申请人信息</th>
								<th>联系信息</th>
								<th>用户信息</th>
								<th>最后联系</th>
								<th>人员</th>
								<th>有效起止日期</th>
								<th>可重新申请日期</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="insureListContent">
							<tr>
								<td colspan="14" class="text-center">
									数据载入中...
								</td>
							</tr>
						</tbody>
					</table>
					<ul class="pagination" id="pagination"></ul>
				</div>
			</div>
		</div>
	</div>
	<div id="order-mask-bg" style="display: none;"></div>
	<div id="order-mask" style="display: none;">
		<div class="ball_spin_fade">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<script type="text/html" id="insureListTemplate">
		{{if insureList.length != 0}} {{each insureList as item i}}
		<tr>
			<td><span>{{(pageNo - 1) * pageSize + i + 1}}</span></td>
			<td>
				<span>单号：<a href="javascript:void(0);"  class="js-btn-showInsureHandlePanel" insureNO="{{item.insureNO}}" >{{item.insureNO}}</a></span><br/>
				<span>申请时间：{{item.createTime}}</span><br />
				<span>状态：{{item.statusStr}}</span><br />
				<span style="font-weight: bold;color: red;">初评时间：{{item.assessTime}}</span><br />
				<span style="font-weight: bold;color: red;">复审时间：{{item.loseAppointTimeStr}}</span><br />
			</td>
			<td>
				<span style="font-weight: bold;color: red;">{{item.kinsName}}&nbsp;{{item.sexStr}}&nbsp;{{item.age}}岁</span><br />
				<span>身份证号：{{item.idcard}}</span><br />
				<span>医保类型：{{item.medicareType}}</span><br />
			</td>
			<td>
				<span>联系人：{{item.name}}</span><br />
				<span style="font-weight: bold;color: red;">联系电话：{{item.phone}}</span><br />
				<!--<span>联系地址：{{item.province + item.city + item.district + item.building + item.addrDetail}}</span><br />-->
			</td>
			<td>
				<span>用户账号：<br/><a href='javascript:void(0);' link='templates/userInfo.html?key={{item.userId}}' class='js-addTab-link' title="用户信息"  >{{item.userId}}</a></span><br
				/>
			</td>
			<td>
				<span>{{item.contactRecord}}</span><br /> {{if item.contactRecord != '暂未联系'}}
				<a href="javascript:void(0);" class="js-btn js-insure_relation" insureNO="{{item.insureNO}}">查看详情</a> {{/if}}
			</td>
			<td>
				<span>护士长：{{item.nurseLeaderName}}</span><br />
				<span style="font-weight: bold;color: red;">初评护士：{{item.nurseName}}</span><br />
				<span style="font-weight: bold;color: red;">复评护士：{{item.loseNurseName}}</span><br />
				<span>健康经理：{{item.managerName}}</span><br />
			</td>
			<td>
				<span>{{item.endTime}}</span><br />
			</td>
			<td>
				{{item.reviveTime}}
			</td>
			<td>
				{{if item.status == 0}}
					<a href="javascript:void(0);" pagenum="{{pageNo}}" class="js-btn-showInsureHandlePanel" insureNO="{{item.insureNO}}" type="1">客服评估</a><br/> 
				{{else if item.status == 1}} 
					{{if  !item.nurseLeaderId || item.nurseLeaderId == 0}}
						<a pagenum="{{pageNo}}" href="javascript:void(0);" insureOrderNO="{{item.insureNO}}" class="js-select-insureHandleNure-HSZ" nurseType=10007>指派护士长</a><br/> 
					{{else if !item.nurseId || item.nurseId == 0}}
						<a pagenum="{{pageNo}}" href="javascript:void(0);" insureOrderNO="{{item.insureNO}}" class="js-select-insureHandleNure-HS" nurseType=10002>指派护士</a><br/> 
					{{/if}}
					<a href="javascript:void(0);" class="js-btn-showInsureHandlePanel" insureNO="{{item.insureNO}}" type="2">护士评估</a><br/> 
				{{else if item.status == 2}}
					<a insureOrderNO="{{item.insureNO}}" class="downTemp-adl-td" download>导出评估表</a><br/>
					<a insureOrderNO="{{item.insureNO}}" class="downTemp-insureapply-td" download>导出申请表</a><br/>
					<a pagenum="{{pageNo}}" href="javascript:void(0);" class="js-btn-submitToGov" insureNO="{{item.insureNO}}" type="3">提交资料</a><br />
					<a pagenum="{{pageNo}}" href="javascript:void(0);" class="js-btn-showInsureHandlePanel" insureNO="{{item.insureNO}}" type="0">查看</a><br />				
				{{else if item.status == 3}}
					<a pagenum="{{pageNo}}" href="javascript:void(0);" class="js-btn-showInsureHandlePanel" insureNO="{{item.insureNO}}" type="4">录入复审时间</a><br/> 
					<a insureOrderNO="{{item.insureNO}}" class="downTemp-adl-td" download>导出评估表</a><br/>
					<a insureOrderNO="{{item.insureNO}}" class="downTemp-insureapply-td" download>导出申请表</a><br/>
				{{else if item.status == 5}}
					<a insureOrderNO="{{item.insureNO}}" class="downTemp-adl-td" download>导出评估表</a><br/>
					<a insureOrderNO="{{item.insureNO}}" class="downTemp-insureapply-td" download>导出申请表</a><br/>
					{{if !item.nurseId || item.nurseId == 0}}
						<a type=1 pagenum="{{pageNo}}" href="javascript:void(0);" insureOrderNO="{{item.insureNO}}" class="js-select-insureHandleNure-HS" nurseType=10002>指派复审护士</a><br/> 
					{{/if}}
				{{else if item.status == 51}}
					<a pagenum="{{pageNo}}" href="javascript:void(0);" class="js-btn-showInsureHandlePanel" insureNO="{{item.insureNO}}" type="4">补全资料</a><br/> 
				{{else if item.status == 4}}
					<a insureOrderNO="{{item.insureNO}}" class="downTemp-adl-td" download>导出评估表</a><br/>
					<a insureOrderNO="{{item.insureNO}}" class="downTemp-insureapply-td" download>导出申请表</a><br/>
					<a pagenum="{{pageNo}}" href="javascript:void(0);" class="js-btn-showInsureHandlePanel" insureNO="{{item.insureNO}}" type="5">联系客户</a><br/>
					<!--{{if item.orderStatus != 3}}
						<a pagenum="{{pageNo}}" href="javascript:void(0);" class="js-btn-insureCreateOrder" phone="{{item.phone}}" kinsname="{{item.kinsName}}" manage="{{item.managerName}}"insureNO="{{item.insureNO}}" userId="{{item.userId}}" type="5">直接下单</a>
					{{/if}} -->
				{{else if item.status == 53}}
					<a insureOrderNO="{{item.insureNO}}" class="downTemp-adl-td" download>导出评估表</a><br/>
					<a insureOrderNO="{{item.insureNO}}" class="downTemp-insureapply-td" download>导出申请表</a><br/>	
				{{/if}}
				{{if item.managerId == 0 && item.status != 50 && item.status != 51 && item.status != 52}}
						<a pagenum="{{pageNo}}" href="javascript:void(0);" class="js-btn-showInsureHandleNure-jkjl" insureOrderNO="{{item.insureNO}}" nurseType=10008>指派健康经理</a><br/> 
				{{/if}}
			</td>
		</tr>
		{{/each}} {{/if}} {{if insureList.length == 0}}
		<tr>
			<td colspan="14" class="text-center">
				暂无数据...
			</td>
		</tr>
		{{/if}}
	</script>
<!-- 		<script type="text/html" id="insureListTemplate"> -->
<!-- 			{{if insureList.length != 0}} {{each insureList as item i}} -->
<!-- 			<tr> -->
<!-- 				<td> -->
<!-- 					<span>单号：<a href="javascript:void(0);"  class="js-btn-showInsureHandlePanel" insureNO="{{item.insureNO}}" >{{item.insureNO}}</a></span><br /> -->
<!-- 					<span>申请时间：{{item.createTime}}</span><br /> -->
<!-- 					<span>状态：{{item.statusStr}}</span><br /> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					<span>{{item.kinsName}}&nbsp;{{item.sexStr}}&nbsp;{{item.age}}岁</span><br /> -->
<!-- 					<span>身份证号：{{item.idcard}}</span><br /> -->
<!-- 					<span>医保类型：{{item.medicareType}}</span><br /> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					<span>联系人：{{item.name}}</span><br /> -->
<!-- 					<span>联系电话：{{item.phone}}</span><br /> -->
<!-- 					<span>联系地址：{{item.province + item.city + item.district + item.building + item.addrDetail}}</span><br /> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					<span>用户账号：<a href='javascript:void(0);' link='templates/userInfo.html?key={{item.userId}}' class='js-addTab-link' title="用户信息"  >{{item.userId}}</a></span><br /> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					<span>{{item.contactRecord}}</span><br /> -->
<!-- 					{{if item.contactRecord != '暂未联系'}} -->
<!-- 							<a href="javascript:void(0);" class="js-btn js-insure_relation" insureNO="{{item.insureNO}}"  >查看详情</a> -->
<!-- 					{{/if}} -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					<span>护士长：{{item.nurseLeaderName}}</span><br /> -->
<!-- 					<span>护士：{{item.nurseName}}</span><br /> -->
<!-- 					<span>健康经理：{{item.managerName}}</span><br /> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					<span>{{item.endTime}}</span><br /> -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					{{item.reviveTime}} -->
<!-- 				</td> -->
<!-- 				<td> -->
<!-- 					{{if item.status == 0}} -->
<!-- 						<a href="javascript:void(0);" class="js-btn-showInsureHandlePanel" insureNO="{{item.insureNO}}" type="1">客服评估</a><br /> -->
<!-- 					{{else if item.status == 1}} -->
<!-- 						{{if !item.nurseId || item.nurseId == 0}} -->
<!-- 						<a href="javascript:void(0);" insureOrderNO="{{item.insureNO}}"  class="js-select-insureHandleNure-HS" id = "js-select-insureHandleNure-HS" nurseType=10002>指派护士</a><br /> -->
<!-- 						{{/if}} -->
<!-- 						<a href="javascript:void(0);" class="js-btn-showInsureHandlePanel" insureNO="{{item.insureNO}}" type="2">护士评估</a><br /> -->
<!-- 					{{else if item.status == 2}} -->
<!-- 						<a href="javascript:void(0);" class="js-btn-submitToGov" insureNO="{{item.insureNO}}" type="3">提交资料</a><br /> -->
<!-- 						<a href="javascript:void(0);" class="js-btn-showInsureHandlePanel" insureNO="{{item.insureNO}}" type="0">查看</a><br /> -->
<!-- 					{{else if item.status == 3}} -->
<!-- 						<a href="javascript:void(0);" class="js-btn-showInsureHandlePanel" insureNO="{{item.insureNO}}" type="4">录入机构评估</a><br /> -->
<!-- 					{{else if item.status == 4}} -->
<!-- 						<a href="javascript:void(0);" class="js-btn-showInsureHandlePanel" insureNO="{{item.insureNO}}"   type="5">联系客户</a><br /> -->
<!-- 					{{else}} -->
<!-- 					{{/if}} -->
<!-- 				</td> -->
<!-- 			</tr> -->
<!-- 			{{/each}} {{/if}} {{if insureList.length == 0}} -->
<!-- 			<tr> -->
<!-- 				<td colspan="14" class="text-center"> -->
<!-- 					暂无数据... -->
<!-- 				</td> -->
<!-- 			</tr> -->
<!-- 			{{/if}} -->
<!-- 		</script> -->

	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/app/common/toast.js"></script>
	<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
	<script type="text/javascript" src="../js/plugins/template.js"></script>
	<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
	<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
	<script type="text/javascript" defer async="true" src="https://webapi.amap.com/maps?v=1.3&key=76995f30ba8965c259c624c3a3fa5777"></script>
	<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
	<script type="text/javascript" src="../js/app/fun.js"></script>
	<script type="text/javascript" src="../js/app/insure.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script type="text/javascript" src="../js/bootstrap-editable/bootstrap-editable.min.js"></script>

</body>

</html>