<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>易简医</title>
	<link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="../css/bootstrap-reset.css" rel="stylesheet" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/style.css" rel="stylesheet" />
	<link href="../js/bootstrap-editable/bootstrap-editable.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order-prepay.css" />
	<link href="../css/newOrder.css" rel="stylesheet" />
	<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
	<link href="../css/r-panel.css" rel="stylesheet" />
	<link href="../fonts/css/font-awesome.css" />
	<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
	<link href="../css/app.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order_pay.css" />
</head>

<body style="background: #fff;">
	<div class="container-fluid">
		<div class="panel-body">
			<div class="row">
				<form class="form-inline m-bot15" role="form">
					<div class="row">
						<div class="col-lg-12 form-group">
							<label class="form-label">&nbsp;&nbsp;过滤时间：</label>
							<input type="text" class="form-control input-large" name="daterange-start" value="年/月/日" />
							<label class="form-label">&nbsp;至&nbsp;</label>
							<input type="text" class="form-control input-large" name="daterange-end" value="年/月/日" />
							<input type="hidden" id="order-regBeginTime">
							<input type="hidden" id="order-regEndTime">
							<button type="button" class="btn btn-primary btn-sm" id="order-search">
                    			<i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                   			</button>
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="adv-table much-table">
					<table class="display table table-bordered table-striped dynamic-table">
						<thead>
							<tr>
								<th style="width: 6.25%;">日期</th>
								<th style="width:6.25%;">项目</th>
								<th style="width:6.25%;"><span style="position: relative;">总计<i id="count" data-container="body" class="pop-infos" data-content="支付金额-退款金额-提现金额" data-toggle="popover" data-placement="bottom"></i></span></th>
								<th style="width:6.25%;">支付宝</th>
								<th style="width:6.25%;">H5微信</th>
								<th style="width:6.25%;">APP微信</th>
								<th style="width:6.25%;">Pos-支付宝</th>
								<th style="width:6.25%;">Pos-微信</th>
								<th style="width:6.25%;">Pos-信用卡</th>
								<th style="width:6.25%;">Pos-储蓄卡</th>
								<th style="width:6.25%;">Pos-财付通</th>
								<th style="width:6.25%;">现金支付</th>
								<th style="width:6.25%;">宝付-APP微信</th>
								<th style="width:6.25%;">宝付-H5微信</th>
								<th style="width:6.25%;">宝付-APP支付宝</th>
								<th style="width:6.25%;">宝付-H5支付宝</th>
							</tr>
						</thead>
						<tbody id="orderPayListContent">
							<tr>
								<td colspan="16" class="text-center">
									数据载入中...
								</td>
							</tr>
						</tbody>
					</table>
					<!--<ul class="pagination" id="pagination"></ul>-->
				</div>
			</div>
		</div>
	</div>
	<script type="text/html" id="orderPayTemplate">
		{{if orderPayArray.length > 0}} {{each orderPayArray as item i}}
		<tr>
			<td>{{item.date}}</td>
			<td>{{item.date}}</td>
			<td>{{item.date}}</td>
			<td>{{item.date}}</td>
			<td>{{item.date}}</td>
			<td>{{item.date}}</td>
			<td>{{item.date}}</td>
			<td>{{item.date}}</td>
			<td>{{item.date}}</td>
			<td>{{item.date}}</td>
			<td>{{item.date}}</td>
			<td>{{item.date}}</td>
		</tr>
		{{/each}} {{/if}} {{if orderPayArray.length == 0}}
		<tr>
			<td colspan="12" class="text-center">
				暂无数据
			</td>
		</tr>
		{{/if}}
	</script>
	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/app/common/toast.js"></script>
	<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
	<script type="text/javascript" src="../js/plugins/template.js"></script>
	<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
	<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../js/bootstrap-daterangepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="../js/app/fun.js"></script>
	<script type="text/javascript" src="../js/app/common/tools.js"></script>
	<script type="text/javascript" src="../js/bootstrap-editable/bootstrap-editable.min.js"></script>
	<script src="../js/app/order_date.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/app/commonFunc.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../js/app/order_pay.js"></script>
</body>

</html>