<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>易简医</title>
	<link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="../css/bootstrap-reset.css" rel="stylesheet" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/style.css" rel="stylesheet" />
	<link href="../js/bootstrap-editable/bootstrap-editable.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order-prepay.css" />
	<link href="../css/newOrder.css" rel="stylesheet" />
	<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
	<link href="../css/r-panel.css" rel="stylesheet" />
	<link href="../fonts/css/font-awesome.css" />
	<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
	<link href="../css/app.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order_pay.css" />
</head>

<body style="background: #fff;">
	<div class="container-fluid">
		<div class="panel-body">
			<div class="row org_hide org-satff-box">
				<form class="form-inline m-bot15" role="form">
					<div class="row">
						<div class="col-lg-12 form-group">
							<label class="form-label">操作人过滤：&nbsp;&nbsp;</label>
							<select class="form-control org_staff" style="padding-top: 0; padding-bottom: 0;min-width: 150px;"></select>
							<!--<button type="button" class="btn btn-primary btn-sm" id="orderorg-search">
                    			<i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                   			</button>-->
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<form class="form-inline m-bot15" role="form">
					<span class="all_count">总计：<i class="bed-red"></i>元</span>
				</form>
			</div>
			<div class="row">
				<div class="adv-table">
					<table class="display table table-bordered table-striped dynamic-table">
						<thead>
							<tr>
								<th style="width: 12.5%;">收支时间</th>
								<th style="width: 12.5%;">订单号</th>
								<th style="width: 12.5%;">会员账号</th>
								<th style="width: 12.5%;">交易金额</th>
								<th style="width: 12.5%;">支付方式</th>
								<th style="width: 12.5%;">业务部门</th>
								<th style="width: 12.5%;">业务类型</th>
								<th style="width: 12.5%;">操作人</th>
							</tr>
						</thead>
						<tbody id="fundsContent">
							<tr>
								<td colspan="8" class="text-center">
									数据载入中...
								</td>
							</tr>
						</tbody>
					</table>
					<!--<ul class="pagination" id="pagination"></ul>-->
				</div>
			</div>
		</div>
	</div>
	<div id="order-mask-bg"></div>
	<div id="order-mask">
		<div class="ball_spin_fade">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<script type="text/html" id="fundsTemplate">
		{{if orderPayArray.length > 0}} 
			{{each orderPayArray as item i}}
			<tr>
				<td>{{item.acceptTimeStr}}</td>
				<td>
					<a title="订单详情-{{item.kinsName}}" class="js-addTab-link" link="templates/orderDetail.html?orderId={{item.orderId}}" href="javascript:void(0);">{{item.orderId}}</a>
				</td>
				<td>
					<a title="用户信息" link="templates/userInfo.html?key={{item.userId}}" class="js-addTab-link" href="javascript:void(0);">{{item.phone}}</a>
				</td>
				<td>{{item.feeStr}}</td>
				<td>{{item.payTypes}}</td>
				<td>{{item.department}}</td>
				<td>{{item.busiTypeStr}}</td>
				<td class="staffName">
					{{ if item.updateStaffName==undefined}}{{item.receiver}}{{/if}}
					{{ if item.updateStaffName!=undefined}}{{item.updateStaffName}}{{/if}}
				</td>
			</tr>
			{{/each}}
		{{/if}}
		{{if orderPayArray.length <= 0}} 
			<tr>
				<td colspan="8" class="text-center">
					暂无数据...
				</td>
			</tr>
		{{/if}}
	</script>
	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/app/common/toast.js"></script>
	<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
	<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
	<script type="text/javascript" src="../js/plugins/template.js"></script>
	<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
	<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../js/bootstrap-daterangepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="../js/app/fun.js"></script>
	<script type="text/javascript" src="../js/app/common/tools.js"></script>
	<script type="text/javascript" src="../js/bootstrap-editable/bootstrap-editable.min.js"></script>
	<script src="../js/app/commonFunc.js" type="text/javascript" charset="utf-8"></script>
	<script>
		$(function(){
			//获取url中的参数
			function getUrlParam(name) {
				let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
				let r = window.location.search.substr(1).match(reg); //匹配目标参数
				if(r != null) return unescape(r[2]);
				return null; //返回参数值
			}
			//实例化请求帮助类
			var httpUtilObj = new HttpUtil();
			var initParam = httpUtilObj.getTabParams();
			let startDate=initParam.startDate;
			let endDate=initParam.endDate;
			let payType=initParam.payType;
			let busiType=initParam. busiType;
			let orgId=initParam. orgId;
			let data={
				startDate:startDate,
				endDate:endDate,
				payType:payType,
				busiType:busiType,
				orgId:orgId,
			}
			httpUtilObj.ajax({
				url: '/adminjson/SAASGetOrderOrgPayDetail',
				params: data
			}).then((res)=>{
				$('#order-mask-bg').css('display','none');
				$('#order-mask').css('display','none');
				refreshList(res.body);
			})
			
			function refreshList(data) {
				var fundsHtml = template('fundsTemplate', data);
				$("#fundsContent").empty().html(fundsHtml);
				//固定表头的方法--传入固定的table
				commonFunc.staticTable($('.dynamic-table'));
				if(!data.orderPayArray.length){
					$('.org-satff-box').addClass('org_hide');
					return false;
				}
				$('.org-satff-box').removeClass('org_hide');
				let staffBrr=data.staffList;
				if(staffBrr.length>1){
					$('.org_staff').append(`<option fee="${data.totalFee}" value="">所有</option>`);
				}
				staffBrr.forEach((item,index)=>{
					let t_node=`<option value="${item.staffName}" fee="${item.feeStr}">${item.staffName}</option>`;
					$('.org_staff').append(t_node);
				});
				$('.all_count i').html($('.org_staff option:selected').attr('fee'));
				$('.org_staff').on('change',function(){
					$('.all_count i').html($('.org_staff option:selected').attr('fee'));
					let str=$('.org_staff').val();
					let t_node=$('#fundsContent tr');
					if(!str){
						t_node.removeClass('org_hide');
					}else{
						for(let i=0;i<t_node.length;i++){
							if((t_node.eq(i).find('.staffName').html()).trim()!=str){
								t_node.eq(i).addClass('org_hide');
							}else{
								t_node.eq(i).removeClass('org_hide');
							}
						}
					}
				})
			}
		})
	</script>
</body>

</html>