<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>易简医</title>
	<link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="../css/bootstrap-reset.css" rel="stylesheet" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/style.css" rel="stylesheet" />
	<link href="../js/bootstrap-editable/bootstrap-editable.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order-prepay.css" />
	<link href="../css/newOrder.css" rel="stylesheet" />
	<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
	<link href="../css/r-panel.css" rel="stylesheet" />
	<link href="../fonts/css/font-awesome.css" />
	<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
	<link href="../css/app.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order_pay.css" />
</head>

<body style="background: #fff;">
	<div class="container-fluid">
		<div class="panel-body">
			<div class="row">
				<div class="adv-table much-table">
					<table class="display table table-bordered table-striped dynamic-table">
						<thead>
							<tr>
								<th style="width: 25%;">机构</th>
								<th style="width: 25%;">科室</th>
								<th style="width: 25%;">SAAS端结束订单</th>
								<th style="width: 25%;">企业端结束订单</th>
							</tr>
						</thead>
						<tbody id="fundsContent">
							<tr>
								<td colspan="4" class="text-center">
									数据载入中...
								</td>
							</tr>
						</tbody>
					</table>
					<!--<ul class="pagination" id="pagination"></ul>-->
				</div>
			</div>
		</div>
	</div>
	<div id="order-mask-bg"></div>
	<div id="order-mask">
		<div class="ball_spin_fade">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<script type="text/html" id="fundsTemplate">
		{{if finishDetailArray.length > 0}} 
			{{each finishDetailArray as item i}}
			<tr>
				<td>{{orgName}}</td>
				<td>{{item.brancName}}</td>
				<td>{{item.saas+ "（" + (item.sum != 0 ? (item.saas/item.sum*100).toFixed(2) + "%" : "0.00%") + "）"}}</td>
				<td>{{item.saasAPP + "（" + (item.sum != 0 ? (item.saasAPP/item.sum*100).toFixed(2) + "%" : "0.00%") + "）"}}</td>
			</tr>
			{{/each}}
		{{/if}}
		{{if finishDetailArray.length <= 0}} 
			<tr>
				<td colspan="4" class="text-center">
					暂无数据...
				</td>
			</tr>
		{{/if}}
	</script>
	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/app/common/toast.js"></script>
	<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
	<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
	<script type="text/javascript" src="../js/plugins/template.js"></script>
	<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
	<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../js/bootstrap-daterangepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="../js/app/fun.js"></script>
	<script type="text/javascript" src="../js/app/common/tools.js"></script>
	<script type="text/javascript" src="../js/bootstrap-editable/bootstrap-editable.min.js"></script>
	<script src="../js/app/commonFunc.js" type="text/javascript" charset="utf-8"></script>
	<script>
		$(function(){
			//获取url中的参数
			function getUrlParam(name) {
				let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
				let r = window.location.search.substr(1).match(reg); //匹配目标参数
				if(r != null) return unescape(r[2]);
				return null; //返回参数值
			}
			//实例化请求帮助类
			var httpUtilObj = new HttpUtil();
			var initParam = httpUtilObj.getTabParams();
			let startDate=initParam.startDate;
			let endDate=initParam.endDate;
			let orgId=initParam. orgId;
			let data={
				startDate:startDate,
				endDate:endDate,
				orgId:orgId,
			}
			httpUtilObj.ajax({
				url: '/adminjson/SAASTJOrderFinishDetail',
				params: data
			}).then((res)=>{
				$('#order-mask-bg').css('display','none');
				$('#order-mask').css('display','none');
				refreshList(res.body);
			})
			
			function refreshList(data) {
				var fundsHtml = template('fundsTemplate', data);
				$("#fundsContent").empty().html(fundsHtml);
				//固定表头的方法--传入固定的table
				commonFunc.staticTable($('.dynamic-table'));
			}
		})
	</script>
</body>

</html>