<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>易简医</title>
		<link href="../css/bootstrap-reset.css" rel="stylesheet" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
		<link href="../css/r-panel.css" rel="stylesheet" />
		<link href="../fonts/css/font-awesome.css"/>
		<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet"/>
		<link  href="../css/app.css"/>
	</head>
	<body style="background-color: white;">
		<div class="container-fluid">
	        <div class="panel-body">
	        	<div class="row">
		        	<form class="form-inline" role="form">
		        		<div class="row">
		                    <div class="m-bot15 col-lg-12 form-group">
		                    	<button type="button" class="btn btn-success btn-sm m-bot15"
		                    		id="showAddOrgBtn">
		                        	<i class="fa fa-plus"></i>&nbsp;&nbsp;新增机构
		                        </button>
		                    	<input type="text" class="form-control m-bot15" placeholder="请输入机构名进行搜索" id="findOrgName">
		                    	<select class="form-control m-bot15"  style="width: 150px;height: inherit;" id="proSelct" onchange="orgModule.selctChange('pro',this)">
		                            <option value="">请选择省份</option>
		                        </select>
		                        <select class="form-control m-bot15"  style="width: 150px;height: inherit;" id="citySelct" onchange="orgModule.selctChange('city',this)">
		                            <option value="">请选择城市</option>
		                        </select>
		                        <select class="form-control m-bot15"  style="width: 150px;height: inherit;" id="distrctSelct" onchange="orgModule.selctChange('distrct',this)">
		                            <option value="">请选择区/县</option>
		                        </select>
		                        <button type="button" class="btn btn-primary btn-sm m-bot15" onclick="orgModule.loadOrgList(true,1);">
		                        	<i class="fa fa-search"></i>&nbsp;&nbsp;查询
		                        </button>
		                    </div>
		        		</div>
					</form>
				</div>	
				<div class="row">
		        	<div class="adv-table">
		        		<table  class="display table table-bordered table-striped" id="dynamic-table">
		        			<thead>
		        				<tr>
			        				<th>名称</th>
			        				<th>类型</th>
			        				<th>等级</th>
			        				<th>省</th>
			        				<th>市</th>
			        				<th>区</th>
			        				<th>详细地址</th>
			        				<th class="text-center">科室数</th>
			        				<th class="text-center">操作</th>
		        				</tr>
		        			</thead>
		        			<tbody id="orgListContent">
		        				<tr>
		        					<td colspan="9" class="text-center">
		        						数据载入中...
		        					</td>
		        				</tr>
		        			</tbody>
		        		</table>
						<ul class="pagination" id="pagination"></ul>
		        	</div>
	        	</div>
	        </div>
		</div>	
		
		<!-- 右侧弹出panel -->
	    <div id="addOrg_panel" class="r_panel">
	        <div class="panel-header">
	            <button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
	            </button>
	            <h4 class="modal-title">新增机构</h4>
	        </div>
	        <div class="panel-body">
	            <div class="container-fluid" id="addOrgForm" >
	                <form class="form-horizontal"  role="form" name="addOrgForm">
	                    <input type="hidden" id="addOrg_lng" />
	                    <input type="hidden" id="addOrg_lat" />
	                    <input type="hidden" id="addOrg_adcode" />
	                    <input type="hidden" id="addOrg_provinceID"/>
	                    <input type="hidden" id="addOrg_cityID"/>
	                    <input type="hidden" id="addOrg_district"/>
	                    
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">机构名称 *</label>
	                        <div class="col-sm-5">
	                            <div class="iconic-input">
	                                <i class="fa fa-home"></i>
	                                <input type="text" class="form-control" placeholder="请输入机构或项目点完整名称" 
	                                	name="addOrg_name" id="addOrg_name">
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">所在地点 *</label>
	                        <div class="col-sm-5">
	                            <div class="iconic-input">
	                                <i class="fa fa-map-marker"></i>
                            		<input type="text" class="form-control" placeholder="请输入机构所在地点" 
                            			name="addOrg_building" id="addOrg_building">
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">机构类型 *</label>
	                        <div class="col-sm-7">
	                            <label class="radio-inline">
	                                <input type="radio" name="addOrg_type" value="1" checked="checked">医院
	                            </label>
	                            <label class="radio-inline">
	                                <input type="radio" name="addOrg_type" value="2" >养老院
	                            </label>
	                            <label class="radio-inline">
	                                <input type="radio" name="addOrg_type" value="0">其他
	                            </label>
	                        </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">详细类型 *</label>
	                        <div class="col-sm-5">
		                        <select class="form-control" id="addOrg_detailedType"  style="height: 35px;"></select>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">机构等级 *</label>
	                        <div class="col-sm-5">
		                        <select class="form-control" id="addOrg_level" style="height: 35px;"></select>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">经营方式 *</label>
	                        <div class="col-sm-5">
		                        <select class="form-control" id="addOrg_operateMode" style="height: 35px;"></select>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">详细地址 *</label>
	                        <div class="col-sm-5">
		                        <input type="text" class="form-control" name="addOrg_address" id="addOrg_address" required>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">联系电话</label>
	                        <div class="col-sm-5">
		                       <input type="text" class="form-control" placeholder="请输入机构的联系电话" name="addOrg_telephone" id="addOrg_telephone" >
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">机构官网</label>
	                        <div class="col-sm-5">
		                       <input type="text" class="form-control" placeholder="输入机构官网地址" id="addOrg_offcialWebSite">
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                        <div class="col-sm-8" style="text-align:right;">
		                        <button type="button" class="btn btn-default rp_close">取消</button>
		                        <button type="button" class="btn btn-success modal_save" id="addOrgBtn">保存</button>
	                        </div>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>			
		<!-- 右侧弹出panel -->
		<div id="showOrg_panel" class="r_panel">
	        <div class="panel-header">
	            <button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
	            </button>
	            <h4 class="modal-title">机构查看</h4>
	        </div>
	        <div class="panel-body">
	            <div class="container-fluid">
	                <form class="form-horizontal" role="form" name="showOrgForm">
	                    <input type="hidden" id="showOrg_lng" />
	                    <input type="hidden" id="showOrg_lat" />
	                    <input type="hidden" id="showOrg_adcode" />
	                    <input type="hidden" id="showOrg_provinceID"/>
	                    <input type="hidden" id="showOrg_cityID"/>
	                    <input type="hidden" id="showOrg_district"/>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">机构名称 *</label>
	                        <div class="col-sm-5">
	                            <div class="iconic-input">
	                                <i class="fa fa-home"></i>
	                                <input type="text" class="form-control" placeholder="请输入机构或项目点完整名称" 
	                                	id="showOrg_name" disabled="disabled">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">所在地点 *</label>
	                        <div class="col-sm-5">
	                            <div class="iconic-input">
	                                <i class="fa fa-map-marker"></i>
                            		<input type="text" class="form-control" placeholder="请输入机构所在地点" 
                            			id="showOrg_building" disabled="disabled">
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">机构类型 *</label>
	                        <div class="col-sm-7">
	                            <label class="radio-inline">
	                                <input type="radio" id="showOrg_type_1" name="showOrg_type" value="1" disabled="disabled">医院
	                            </label>
	                            <label class="radio-inline">
	                                <input type="radio" id="showOrg_type_2" name="showOrg_type" value="2" disabled="disabled">养老院
	                            </label>
	                            <label class="radio-inline">
	                                <input type="radio" id="showOrg_type_0" name="showOrg_type" value="0" disabled="disabled">其他
	                            </label>
	                        </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">详细类型 *</label>
	                        <div class="col-sm-5">
		                        <select class="form-control" id="showOrg_detailedType" disabled="disabled" style="height: 35px;"></select>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">机构等级 *</label>
	                        <div class="col-sm-5">
		                        <select class="form-control" id="showOrg_level" disabled="disabled" style="height: 35px;"></select>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">经营方式 *</label>
	                        <div class="col-sm-5">
		                        <select class="form-control" id="showOrg_operateMode" disabled="disabled" style="height: 35px;"></select>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">详细地址 *</label>
	                        <div class="col-sm-5">
		                        <input type="text" class="form-control" required 
		                        	id="showOrg_address" disabled="disabled" widget>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">联系电话</label>
	                        <div class="col-sm-5">
		                       <input type="text" class="form-control" placeholder="请输入机构的联系电话"
		                       	id="showOrg_telephone" disabled="disabled" widget>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">机构官网</label>
	                        <div class="col-sm-5">
		                       <input type="text" class="form-control" placeholder="输入机构官网地址" 
		                       	id="showOrg_offcialWebSite" disabled="disabled" widget>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                        <div class="col-sm-8" style="text-align:right;">
		                        <button type="button" class="btn btn-success" 
		                        	id="panelChangeBtn" onclick="orgEditModule.changePanel()">编辑</button>
		                        <button type="button" class="btn btn-success modal_save hidden"
		                        	id="editOrgBtn" onclick="orgEditModule.editOrgItem()">保存</button>
	                        </div>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>	
			
		<!-- 机构列表模板  -->
		<script type="text/html" id="orgListTemplate">
			{{if orgList.length > 0}}
				{{each orgList as item i}}
				<tr>
					<td>{{item.orgName}}</td>
					<td>{{item.orgType | orgFilter : 'ORG_TYPE'}}</td>
					<td>{{item.orgLevel | orgFilter : 'ORG_LEVEL_LIST'}}</td>
					<td>{{item.province}}</td>
					<td>{{item.city}}</td>
					<td>{{item.district}}</td>
					<td>{{item.building}}{{item.address}}</td>
					<td class="text-center">
						 <u><a  href="javascript:void(0);" onclick="orgModule.goBranch('{{item.id}}','{{item.orgName}}')">
							{{if item.branchCount != undefined && item.branchCount != 0}}
								{{item.branchCount}}个
							{{/if}}	
							{{if item.branchCount == undefined}}
								0个
							{{/if}}
						</a> </u>
					</td>
					<td class="text-center">
						<a href="javascript:void(0);" onclick="orgModule.showEditOrg('{{item.id}}')">查看</a>
						&#124;
						<a href="javascript:void(0);" onclick="orgModule.delOrgItem('{{item.id}}')">删除</a>
					</td>
				</tr>
				{{/each}}
			{{/if}}
			{{if orgList.length == 0}}
				<tr>
					<td colspan="9" class="text-center">
						暂无数据，点击<a href="javascript:void(0);" onclick="orgModule.loadOrgList(true,1);">刷新数据</a>
					</td>
				</tr>
			{{/if}}
		</script>
		<!-- 省/市/县下拉框模板 -->
		<script type="text/html" id="selctTemplate">
			{{each list as item i}}
			<option value="{{item.id}}">{{item.name}}</option>
			{{/each}}
		</script>		
		
		<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/app/common/toast.js"></script>
		<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/template.js"></script>
		<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
		<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
		<script type="text/javascript" defer async="true" src="https://webapi.amap.com/maps?v=1.3&key=76995f30ba8965c259c624c3a3fa5777"></script>
		<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
		<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
		<script type="text/javascript" src="../js/app/org.js"></script>
	</body>
</html>