<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>易简医</title>
	<link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="../css/bootstrap-reset.css" rel="stylesheet" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/style.css" rel="stylesheet" />
	<link href="../js/bootstrap-editable/bootstrap-editable.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order-prepay.css" />
	<link href="../css/newOrder.css" rel="stylesheet" />
	<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
	<link href="../css/r-panel.css" rel="stylesheet" />
	<link href="../fonts/css/font-awesome.css" />
	<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
	<link href="../css/app.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="../css/order_pay.css" />
	<link rel="stylesheet" href="../js/bootstrap-select/bootstrap-select.min.css">
</head>

<body style="background: #fff;">
	<div class="container-fluid">
		<div class="panel-body">
			<div class="row">
				<form class="form-inline m-bot15" role="form">
					<div class="row">
						<div class="col-lg-12 form-group">
							<label class="form-label">&nbsp;&nbsp;过滤时间：</label>
							<input type="text" class="form-control input-large" name="daterange-start" value="年/月/日" />
							<label class="form-label">&nbsp;至&nbsp;</label>
							<input type="text" class="form-control input-large" name="daterange-end" value="年/月/日" />
							<input type="hidden" id="order-regBeginTime">
							<input type="hidden" id="order-regEndTime">
							<label class="form-label">&nbsp;&nbsp;机构过滤：&nbsp;&nbsp;</label>
							<!--<select class="org_company"></select>-->
							<select class="form-control org_hos org_hide" style="padding-top: 0; padding-bottom: 0;"></select>
							<select class="form-control selectpicker org_branch org_hide col-lg-8" id="org-branch" style="padding-top: 0; padding-bottom: 0;width:250px" data-live-search="true" multiple></select>
							<button type="button" class="btn btn-primary btn-sm" id="prc-search" isself="1">
                    			<i class="fa fa-search"></i>&nbsp;&nbsp;搜索
                   			</button>
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="adv-table much-table">
					<table class="display table table-bordered table-striped dynamic-table">
						<thead>
							<tr>
								<th class="th_col" style="width: 50%;"><span>用工科室</span></th>
								<th class="th_col" style="width: 50%;"><span>陪人床收款（元）</span></th>
							</tr>
						</thead>
						<tbody id="prcListContent">
							<tr>
								<td colspan="2" class="text-center">
									数据载入中...
								</td>
							</tr>
						</tbody>
					</table>
					<!--<ul class="pagination" id="pagination"></ul>-->
				</div>
			</div>
		</div>
	</div>
	<script type="text/html" id="prcTemplate">
		{{if orderItemPRC.length > 0}} {{each orderItemPRC as item i}}
		<tr>
			<td>{{item.branchName}}</td>
			<td><a class="prc-fee" payBusiType="9" isSelf="true" branchId="{{item.branchId}}" orgId="{{item.orgId}}" href="javascript:void(0);" title="陪人床明细" link="templates/peirenchuang_detail.html">{{item.payFee}}</a></td>
		</tr>
		{{/each}} {{/if}} {{if orderItemPRC.length == 0}}
		<tr>
			<td colspan="2" class="text-center">
				暂无数据
			</td>
		</tr>
		{{/if}}
	</script>
	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
	<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/app/common/toast.js"></script>
	<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
	<script type="text/javascript" src="../js/plugins/template.js"></script>
	<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
	<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../js/bootstrap-daterangepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="../js/app/fun.js"></script>
	<script type="text/javascript" src="../js/app/common/tools.js"></script>
	<script type="text/javascript" src="../js/bootstrap-editable/bootstrap-editable.min.js"></script>
	<script src="../js/bootstrap-select/bootstrap-select.js"></script>
	<script src="../js/bootstrap-select/i18n/defaults-zh_CN.min.js"></script>
	<script src="../js/app/commonFunc.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/app/peirenchuang.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>