<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>易简医</title>
		<link href="../css/bootstrap-reset.css" rel="stylesheet" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
		<link href="../css/r-panel.css" rel="stylesheet" />
		<link href="../fonts/css/font-awesome.css" />
		<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../js/bootstrap-select/bootstrap-select.min.css">
		<link  href="../css/app.css"/>
	</head>

	<body style="background-color: white;">
		<div class="container-fluid">
			<div class="panel-body">
				 <div class="row">
					<form class="form-inline" role="form">
						<div class="row">
							<div class="m-bot15 col-lg-12 form-group">
								<button type="button" class="btn btn-success btn-sm m-bot15" id="showAddRightConfigBtn" >
		                        	<i class="fa fa-plus"></i>&nbsp;&nbsp;分配权限
		                        </button>
								<!--<input type="text" class="form-control m-bot15" placeholder="请输入病房进行搜索" id="findRoomNo">
								<button type="button" class="btn btn-primary btn-sm m-bot15" id="searchBut" onclick="rightModule.loadRightList(true,1);">
		                        	<i class="fa fa-search"></i>&nbsp;&nbsp;查询
		                        </button>-->
							</div>
						</div>
					</form>
				</div> 
				<div class="row">
					<div class="adv-table">
						<table class="display table table-bordered table-striped" id="dynamic-table">
							<thead>
								<tr>
									<th>角色</th>
									<th>成员列表</th>
									<th>管理范围</th>
									<th style="width: 30%;">权限列表</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="rightListContent">
								<tr>
									<td colspan="5" class="text-center">
										数据载入中...
									</td>
								</tr>
							</tbody>
						</table>
						<div class="row panel-body">
							<ul class="pagination" id="pagination"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 右侧弹出panel -->
	    <div id="addRightConfig_panel" class="r_panel">
	        <div class="panel-header">
	            <button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
	            </button>
	            <h4 class="modal-title">分配权限</h4>
	        </div>
	        <div class="panel-body">
	            <div class="container-fluid">
	                <form class="form-horizontal" role="form" name="rightConfigForm">
	                	
	                    <!--<div class="form-group">
	                    	<label class="col-sm-3 control-label">类型 *</label>
	                        <div class="col-sm-7">
	                            <label class="radio-inline">
	                                <input type="radio" name="addRightConfig_type" id="addRightConfig_type1" value="1" checked="checked">角色
	                            </label>
	                            <label class="radio-inline">
	                                <input type="radio" name="addRightConfig_type" id="addRightConfig_type2" value="2" >员工
	                            </label>
	                        </div>
	                    </div>-->
	                    
	                    <div class="form-group" id="addRightConfig_roleSelectDiv">
	                    	<label class="col-sm-3 control-label">角色 <span class="form-required"> * </span></label>
	                        <div class="col-sm-5">
                               <select class="form-control"  style="width: 150px;  height: initial;" id="roleSelectContent">
                               		<option value="">请选择角色</option>
		                        </select>
	                        </div>
	                    </div>
	                    
	                    <div class="form-group addRightConfig_staffSelect">
							<label class="col-sm-3 control-label">员工<span class="form-required"> * </span></label>
							<div class="col-sm-9">
								<select id="addRightConfig_staffSelect" class="selectpicker show-tick form-control" multiple data-live-search="true">
									<option value="">请选择员工</option>
								</select>
							</div>
						</div>
                        
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">权限<span class="form-required"> * </span></label>
	                        <div class="col-sm-9">
		                        <select id="addRightConfig_menuSelect" class="selectpicker show-tick form-control" multiple data-live-search="true">
									<option value="">请选择权限</option>
								</select>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">范围<span class="form-required"> * </span></label>
	                        <div class="col-sm-9">
		                        <select id="addRightConfig_scopeType" class="form-control" style="height: initial;">
									<option value="1">全公司</option>
									<option value="2">指定机构</option>
									<option value="3">指定科室</option>
									<option value="4">指定员工</option>
								</select>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group addRightConfig_orgSelect hidden">
	                    	<label class="col-sm-3 control-label">机构<span class="form-required"> * </span></label>
	                        <div class="col-sm-9">
		                        <select id="addRightConfig_orgSelect" class="selectpicker show-tick form-control" multiple data-live-search="true">
									<option value="">请选择机构</option>
								</select>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group addRightConfig_branchSelect hidden">
	                    	<label class="col-sm-3 control-label">科室<span class="form-required"> * </span></label>
	                        <div class="col-sm-9">
		                        <select id="addRightConfig_branchSelect" class="selectpicker show-tick form-control" multiple data-live-search="true">
									<option value="">请选择科室</option>
								</select>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group addRightConfig_hgSelect hidden">
	                    	<label class="col-sm-3 control-label">下属员工<span class="form-required"> * </span></label>
	                        <div class="col-sm-9">
		                        <select id="addRightConfig_hgSelect" class="selectpicker show-tick form-control" multiple data-live-search="true">
									<option value="">请选择员工</option>
								</select>
		                    </div>
	                    </div>
	                    
	                    <div class="form-group">
	                        <div class="col-sm-12 text-right">
		                        <button type="button" class="btn btn-default rp_close">取消</button>
		                        <button type="button" class="btn btn-success modal_save" id="saveRightConfigBtn">保存</button>
	                        </div>
	                    </div>
	                    
	                </form>
	            </div>
	        </div>
	    </div>		
		
		<script type="text/html" id="roleListTemplate">
			<option value="0">请选择</option>
			{{if roleList.length > 0}} 
			{{each roleList as item i}}
				<option value="{{item.roleId}}">{{item.roleName}}</option>
			{{/each}}
			{{/if}}
		</script>
		
		<!-- 机构下拉框 -->
		<script type="text/html" id="orgSelctTemplate">
			{{if orgList.length > 0}}
			{{each orgList as item i}}
			<option value="{{item.id}}">{{item.orgName}}</option>
			{{/each}} {{/if}} {{if orgList.length == 0}}
			<option value="">无项目点可选</option>
			{{/if}}
		</script>
		
		<!-- 科室下拉框 -->
		<script type="text/html" id="branchSelctTemplate">
			{{if branchList.length > 0}} {{each branchList as item i}}
			<option value="{{item.branchId}}">{{item.branchName}}</option>
			{{/each}} {{/if}} {{if branchList.length == 0}}
			<option value="">所选项目点无科室</option>
			{{/if}}
		</script>
		
		<script type="text/html" id="rightSelctTemplate">
			{{if rightList.length > 0}} 
			{{each rightList as item i}}
			<option value="{{item.menu}}">{{item.menuStr}}</option>
			{{/each}} 
			{{/if}} 
		</script>
		
		<script type="text/html" id="staffSelctTemplate">
			{{if hgList.length > 0}} 
			{{each hgList as item i}}
			<option value="{{item.id}}">{{item.fullName}}-{{item.idcardAfterFour}}</option>
			{{/each}} 
			{{/if}} 
		</script>
		
		<script type="text/html" id="roleSelectTemplate">
			{{if roleList.length > 0}} {{each roleList as item i}}
			<option value="{{item.roleId}}">{{item.roleName}}</option>
			{{/each}} {{/if}} {{if roleList.length == 0}}
			<option value="">无角色可选</option>
			{{/if}}
		</script>
		
		
		<script type="text/html" id="rightListTemplate">
			{{if rightConfigList.length > 0}} {{each rightConfigList as item i}}
			<tr>
				<td>
					{{item.roleName}}
				</td>
				<td>
					{{each item.staffList as itemm ii}}
						{{itemm.fullName}} &nbsp;
					{{/each}}
				</td>
				<td>
					{{item.rightScope}}{{if item.rightScope != '全公司'}}:{{/if}}
					{{each item.scopeList as itemm ii}}
						{{itemm.name}} &nbsp;
					{{/each}}
				</td>
				<td>
					{{each item.menuList as itemm ii}}
						{{itemm.menuStr}} &nbsp;
					{{/each}}
				</td>
				<td>
					
					{{if item.roleId != 10000}}
						<a href="javascript:void(0);" onclick="rightModule.viewRightConfig('{{item.id}}')">查看</a>
						&#124;
						<a href="javascript:void(0);" onclick="rightModule.delRightConfig('{{item.id}}')">删除</a>
					{{/if}}
				</td>
			</tr>
			{{/each}} {{/if}} {{if rightConfigList.length == 0}}
			<tr>
				<td colspan="5" class="text-center">
					暂无数据...
				</td>
			</tr>
			{{/if}}
		</script>

		<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/app/common/toast.js"></script>
		<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/template.js"></script>
		<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
		<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
		<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
		<script type="text/javascript" src="../js/app/permission.js"></script>
		<script src="../js/bootstrap-select/bootstrap-select.js"></script>
		<script src="../js/bootstrap-select/i18n/defaults-zh_CN.min.js"></script>
	</body>

</html>