<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>易简医</title>
		<link href="../css/bootstrap-reset.css" rel="stylesheet" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
		<link href="../css/r-panel.css" rel="stylesheet" />
		<link href="../fonts/css/font-awesome.css" />
		<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
		<link  href="../css/app.css"/>
	</head>

	<body style="background-color: white;">
		<div class="container-fluid">
			<div class="panel-body">
				<div class="row">
					<form class="form-inline" role="form">
						<div class="row">
							<div class="m-bot15 col-lg-12 form-group">
								<button type="button" class="btn btn-success btn-sm m-bot15 js-btn-showAddRolePanel" id="showAddRoleBtn">
		                        	<i class="fa fa-plus"></i>&nbsp;&nbsp;新增角色
		                        </button>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					<div class="adv-table">
						<table class="display table table-bordered table-striped" id="roleListTable" style="margin-bottom: 0px;">
							<thead>
								<tr>
									<th>角色名</th>
									<!--<th>关联人数</th>-->
									<th>创建人</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="roleListContent">
								<tr>
									<td colspan="4" class="text-center">
										数据载入中...
									</td>
								</tr>
							</tbody>
						</table>
						<div class="row panel-body">
							<ul class="pagination" id="pagination"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
<!-- 右侧弹出panel -->
	    <div id="getrole_panel" class="r_panel" style="width: 800px;">
	        <div class="panel-header">
	            <button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
	            </button>
	            <h4 class="modal-title">角色</h4>
	            <input type="hidden" id = "add_role_id">
	        </div>
	        <div class="panel-body">
	            <div class="container-fluid">
	                <form class="form-horizontal" role="form" name="rightConfigForm">
	               		 <div class="col-lg-12 form-group">
	                		<input type="text"  style="width: 220px; display: inline-block;" class="form-control" placeholder="搜索员工姓名"  id="findhgName">
							<button type="button" class="btn btn-primary btn-sm js-btn-showhgListByIf" id="searchhgBut">
	                        	<i class="fa fa-search"></i>&nbsp;&nbsp;查询
	                        </button>
		                  </div>
							<table class="display table table-bordered table-striped" id="hgListTable" style="margin-bottom: 0px;">
							<thead>
								<tr>
									<th>员工名称</th>
									<th>手机号</th>
									<th>角色名</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="hgListContent">
								<tr>
									<td colspan="5" class="text-center">
										数据载入中...
									</td>
								</tr>
							</tbody>
						</table>
						
						<div class="row panel-body">
							<ul class="pagination" id="pagination2"></ul>
						</div>
						
	                    <div class="form-group">
	                        <div class="col-sm-12 text-right">
		                        <button type="button" class="btn btn-default rp_close">取消</button>
		                        <button type="button" class="btn btn-default btn-success assignroleBtn">添加</button>
	                        </div>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>	

		<script type="text/html" id="roleListTemplate">
			{{if roleList.length > 0}} {{each roleList as item i}}
			<tr>
				<td>{{item.roleName}}</td>
				<td>{{item.createStaffName}}</td>
				<td>
					{{item.createTime}}
				</td>
				<td>
					{{if item.roleId > 10007}}
						<a href="javascript:void(0);" roleId="{{item.roleId}}" class="js-btn-delRole">删除</a>
					{{/if}}
					<a href="javascript:void(0);" roleId="{{item.roleId}}" class="js-btn-getRole">查看</a>
				</td>
			</tr>
			{{/each}} {{/if}} 
			{{if roleList.length == 0}}
				<tr>
					<td colspan="4" class="text-center">
						暂无数据，点击
						<a href="javascript:void(0);" class="js-btn-loadRoleList">刷新数据</a>
					</td>
				</tr>
			{{/if}}
		</script>
		
		<script type="text/html" id="hgListTemplate">
			{{if hg.length > 0}}{{each hg as item i}}
			<tr>
				<td>{{item.fullName}}</td>
				<td>{{item.phone}}</td>
				<td>{{item.roleNames}}</td>
				<td>{{item.createTime}}</td>
				<td><a href="javascript:void(0);" hgId="{{item.id}}" class="js-btn-delRoleByhg">删除</a></td>
			</tr>
			{{/each}}
			{{else}}
			<tr>
					<td colspan="6" class="text-center">
						暂无数据
					</td>
				</tr>
			{{/if}}
		</script>

		<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/app/common/toast.js"></script>
		<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/template.js"></script>
		<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
		<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
		<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
		<script type="text/javascript" src="../js/app/modal/select_hg_role.js"></script>
		<script type="text/javascript" src="../js/app/role.js"></script>
		<script type="text/javascript" src="../js/app/fun.js"></script>
		
	</body>

</html>