<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>易简医</title>
		<link href="../css/bootstrap-reset.css" rel="stylesheet" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
		<link href="../css/r-panel.css" rel="stylesheet" />
		<link href="../fonts/css/font-awesome.css" />
		<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
		<link  href="../css/app.css"/>
	</head>

	<body style="background-color: white;">
		<div class="container-fluid">
			<div class="panel-body">
				<div class="row">
					<form class="form-inline" role="form">
						<div class="row">
							<div class="m-bot15 col-lg-12 form-group">
								<button type="button" class="btn btn-success btn-sm m-bot15" id="showAddRoomBtn">
		                        	<i class="fa fa-plus"></i>&nbsp;&nbsp;新增病房
		                        </button>
								<input type="text" class="form-control m-bot15" placeholder="请输入病房进行搜索" id="findRoomNo">
								<button type="button" class="btn btn-primary btn-sm m-bot15" id="searchBut" onclick="roomModule.loadRoomList(true,1);">
		                        	<i class="fa fa-search"></i>&nbsp;&nbsp;查询
		                        </button>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					<div class="adv-table">
						<table class="display table table-bordered table-striped" id="dynamic-table">
							<thead>
								<tr>
									<th>病房</th>
									<th>所属科室</th>
									<th>所属项目点</th>
									<th>病床数</th>
									<th>创建人</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="roomListContent">
								<tr>
									<td colspan="7" class="text-center">
										数据载入中...
									</td>
								</tr>
							</tbody>
						</table>
						<div class="row panel-body">
							<ul class="pagination" id="pagination"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 右侧弹出panel -->
		<div id="addRoom_panel" class="r_panel">
			<div class="panel-header">
				<button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
	            </button>
				<h4 class="modal-title">新增病房</h4>
			</div>
			<div class="panel-body">
				<div class="container-fluid">
					<form class="form-horizontal" role="form" name="addOrgForm">
						<div class="form-group">
							<label class="col-sm-3 control-label">房间号 *</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" placeholder="请输入房间号" name="addRoom_roomNo" id="addRoom_roomNo">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8" style="text-align:right;">
								<button type="button" class="btn btn-default rp_close">取消</button>
								<button type="button" class="btn btn-success modal_save" id="addOrgBtn" onclick="roomModule.saveRoom()">保存</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="showBedList_panel" class="r_panel">
			<div class="panel-header">
				<button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
		            	<span aria-hidden="true">&times;</span>
		            </button>
				<h4 class="modal-title" id="descHFour">床位列表</h4>
			</div>

			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="row">
							<form class="form-inline" role="form">
								<div class="adv-table">
									<table class="display table table-bordered table-striped" id="dynamic-table">
										<thead>
											<tr>
												<th>床位</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody id="bedListContent">
											<tr>
												<td colspan='2' class="text-center">
													暂无数据...
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</form>
						</div>
						<div class="row">
							<form class="form-horizontal" role="form" name="addBedForm">
								<div class="col-lg-12">
								<div class="form-group col-lg-6">
									<label class="col-sm-5 control-label">床号</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" placeholder="请输入床号" name="addBed_bedNo" id="addBed_bedNo">
									</div>
								</div>
								<div class="form-group col-lg-4">
									<div class="col-sm-12 text-left">
										<button type="button" class="btn btn-success modal_save" onclick="roomModule.saveBedItem()" id="saveBedItemBut">保存床位</button>
									</div>
								</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/html" id="bedListTemplate">
			{{if bedList.length > 0}} 
				{{each bedList as item i}}
				<tr>
					<td>{{item.bedNo}}</td>
					<td>
						<a href="javascript:void(0);" onclick="roomModule.delBed('{{item.bedId}}')">删除<i class="fa fa-trash-o"></i></a>
					</td>
				</tr>
				{{/each}}
			{{/if}}
			{{if bedList.length <= 0}} 
				<td colspan="2" class="text-center">
					暂无床位
				</td>
			{{/if}}
		</script>

		<script type="text/html" id="roomListTemplate">
			{{if roomList.length > 0}} {{each roomList as item i}}
			<tr>
				<td class="roomNoTD">{{item.roomNo}}</td>
				<td class="branchNameTD">{{item.branchName}}</td>
				<td class="orgNameTD">{{item.orgName}}</td>
				<td>
					<a href="javascript:void(0);" onclick="roomModule.showEditRoom('{{item.roomId}}','{{item.orgId}}','{{item.branchId}}', '<b>{{item.orgName}}</b>-<b>{{item.branchName}}</b>-<b>{{item.roomNo}}</b>')">
						{{item.bedCount}}个
					</a>
				</td>
				<td>{{item.createStaffName}}</td>
				<td>{{item.createTime}}</td>
				<td>
					<!--<a href="javascript:void(0);" onclick="roomModule.showEditRoom('{{item.roomId}}','{{item.orgId}}','{{item.branchId}}', '<b>{{item.orgName}}</b>-<b>{{item.branchName}}</b>-<b>{{item.roomNo}}</b>')">查看</a>
					&#124;-->
					<a href="javascript:void(0);" onclick="roomModule.delRoom('{{item.roomId}}')">删除</a>
				</td>
			</tr>
			{{/each}} {{/if}} 
			{{if roomList.length == 0}}
				<tr>
					<td colspan="7" class="text-center">
						暂无数据，点击
						<a href="javascript:void(0);" onclick="roomModule.loadRoomList(true,1);">刷新数据</a>
					</td>
				</tr>
			{{/if}}
		</script>

		<!-- 机构下拉框 -->
		<script type="text/html" id="orgSelctTemplate">
			{{if orgList.length > 0}} {{each orgList as item i}}
			<option value="{{item.id}}">{{item.orgName}}</option>
			{{/each}} {{/if}} {{if orgList.length == 0}}
			<option value="">所选地区无项目点可选</option>
			{{/if}}
		</script>
		<!-- 科室下拉框 -->
		<script type="text/html" id="branchSelctTemplate">
			{{if branchList.length > 0}} {{each branchList as item i}}
			<option value="{{item.id}}">{{item.branchName}}</option>
			{{/each}} {{/if}} {{if branchList.length == 0}}
			<option value="">所选项目点无科室</option>
			{{/if}}
		</script>
		<!-- 省/市/县下拉框模板 -->
		<script type="text/html" id="selctTemplate">
			{{each list as item i}}
			<option value="{{item.id}}">{{item.name}}</option>
			{{/each}}
		</script>

		<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/app/common/toast.js"></script>
		<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/template.js"></script>
		<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
		<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
		<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
		<script type="text/javascript" src="../js/app/room.js"></script>
	</body>

</html>