<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>易简医</title>
		<link href="../css/bootstrap-reset.css" rel="stylesheet" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
		<link href="../css/r-panel.css" rel="stylesheet" />
		<link href="../fonts/css/font-awesome.css" />
		<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
		<link href="../js/bootstrap-editable/bootstrap-editable.css"  rel="stylesheet" />
		<link rel="stylesheet" href="../js/bootstrap-daterangepicker/daterangepicker.css">
		<link  href="../css/app.css" rel="stylesheet" />
	</head>

		                
		                
		                
	<body style="background-color: white;">
		<div class="container-fluid">
			<div class="panel-body">
					<div class="row m-bot15 " style="color: #000; padding: 10px;">
					<form class="form-inline" role="form">
						<div class="row">
							<div class="col-lg-12 form-group">
								<select class="form-control" style="width: 150px;padding-top:0;padding-bottom:0;" id="service_Living">
									<option value="-1">全部</option>
									<option value="1">启用</option>
									<option value="0">未启用</option>
								</select>
								<button type="button" class="btn btn-primary btn-sm js-btn-showlivingListByIf" id="searchBut">
		                    		<i class="fa fa-search"></i>&nbsp;&nbsp;查询
		                		</button>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					<div class="adv-table">
						<table class="display table table-bordered table-striped" id="ServiceLivingListTable" style="margin-bottom: 0px;">
							<thead>
								<tr>
									<th>服务名称</th>
									<th>图标</th>
									<th>排序</th>
									<th>状态</th>
									<th>修改时间</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="serviceLivingListContent">
								<tr>
									<td colspan="7" class="text-center">
										数据载入中...
									</td>
								</tr>
							</tbody>
						</table>
						<div class="row panel-body">
							<ul class="pagination" id="pagination"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
<!-- 右侧弹出panel -->
		<div id="showLiving_panel" class="r_panel">
	        <div class="panel-header">
	            <button type="button" class="close rp_close" data-dismiss="modal" aria-label="Close">
	            	<span aria-hidden="true">&times;</span>
	            </button>
	            <h4 class="modal-title">服务详情</h4>
	        </div>
	        <div class="panel-body">
	            <div class="container-fluid">
	                <form class="form-horizontal" role="form" name="showBannerForm">
	                	<input type="hidden" class="form-control" id="showLiving_id">
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">名称 :</label>
	                        <div class="col-sm-5">
	                            <div class="iconic-input">
	                                <i class="fa fa-home"></i>
	                                <input type="text" class="form-control"  disabled placeholder="请输入服务类型名称" 
	                                	id="showLiving_name">
	                            </div>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">状态</label>
	                        <div class="col-sm-7">
	                        	<label class="radio-inline">
	                                <input type="radio" id="showLiving_type_1" name="showLiving_type" value="1">启用
	                            </label>
	                            <label class="radio-inline">
	                                <input type="radio" id="showLiving_type_0" name="showLiving_type" value="0">未启用
	                            </label>
	                        </div>
	                    </div>
	                     <div class="form-group">
	                    	<label class="col-sm-3 control-label">排序位置 </label>
	                        <div class="col-sm-5">
                                <input type="text" class="form-control" placeholder="请输入服务类型排序位置" 
                                	name="updateLiving_sort" id="updateLiving_sort">
	                        </div>
	                    </div>
	                    <div class="form-group">
	                    	<label class="col-sm-3 control-label">图片*</label>
	                        <div class="col-sm-5">
	                        	<input type="file" id="file2" name="file" onchange="ajaxFileUpload('edit', 'file2')"/>
	                        	<br>
								<img id="living_imgUrl_edit" height="200" width="200" src=""/>
								<input type="hidden" name="" id = "living_imgId_edit" value="">
		                    </div>
	                    </div>
	                    <div class="form-group">
	                        <div class="col-sm-8" style="text-align:right;">
		                        <button type="button" class="btn btn-default" 
		                        	id="panelChangeBtn">取消</button>
		                        <button type="button" class="btn btn-success modal_save"
		                        	id="editOrgBtn">确认</button>
	                        </div>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
		<script type="text/html" id="serviceLivingListTemplate">
				{{each indexServiceItemList as item i}}
					<tr>
						<td>{{item.iconDesc}}</td>
						<td><img src="{{item.iconUrl}}" height="50" width="50"></td>
						<td>{{item.sort}}</td>
						<td>{{item.stateStr}}</td>
						<td>{{item.updateTime}}</td>
						<td>{{item.createTime}}</td>
						<td class="text-center">
							<a class="js-btn-getlivings" href="javascript:void(0);" livingId="{{item.id}}" >编辑</a>
						</td>
					</tr>
				{{/each}}
		</script>
		

	<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/app/common/toast.js"></script>
		<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/template.js"></script>
		<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
		<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
		<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
		<script type="text/javascript" src="../js/ajaxfileupload.js"></script>
		<script type="text/javascript" src="../js/bootstrap-daterangepicker/moment.min.js"></script>
		<script type="text/javascript" src="../js/bootstrap-daterangepicker/daterangepicker.js"></script>
		<script type="text/javascript" src="../js/app/serviceLiving.js?123"></script>
		<script type="text/javascript">
			function ajaxFileUpload(type, fileId) {
			    $.ajaxFileUpload
			    (
			        {
			            url: '/imageupload?type=Living', //用于文件上传的服务器端请求地址
			            secureuri: false, //是否需要安全协议，一般设置为false
			            fileElementId: fileId, //文件上传域的ID
			            dataType: 'json', //返回值类型 一般设置为json
			            success: function (data, status)  //服务器成功响应处理函数
			            {
			                if(data.errCode == 0) {
			                	$("#living_imgUrl_" + type).attr("src", data.imgUrl);
			                	$("#living_imgId_" + type).val(data.imageId);
			                } else {
			                	alert("上传失败");
			                }
			            },
			            error: function (data, status, e)//服务器响应失败处理函数
			            {
			                alert(e);
			            }
			        }
			    )
			    return false;
			}
		</script>
	</body>

</html>