<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>易简医</title>
		<link href="../css/bootstrap-reset.css" rel="stylesheet" />
		<link href="../css/bootstrap.min.css" rel="stylesheet" />
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../css/r-panel.css" rel="stylesheet" />
		<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
		<link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/workmanage.css"/>
		<script src="https://cdn.bootcss.com/echarts/3.7.1/echarts.min.js"></script>
		<style type="text/css">
			.pop-entrance{
				position: relative;
				top:3px;
				width: 17px;
				height: 17px;
				display: inline-block;
				background: url(../images/infos.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				-webkit-background–size: cover;
				-moz-background–size: cover;
				-o-background–size: cover;
			}
			.extra-filter{
			    position: absolute;
			    right: 40px;
			    top: 50%;
			    transform: translateY(-50%);
				margin: 0; 
			}
			.extra-filter i{
				color: red;
			}
		</style>
	</head>            
	<body style="background-color: white;">
		<div class="container-fluid workmanage-noLimit"></div>
		<div class="container-fluid workmanage-box">
			<div class="panel-body">
				<div class="row service-type">
					<ul class="data-analyse">
						<li>
							<span class="selected org-service">机构业务</span>
							<span class="home-service">居家业务(请期待)</span>
							<!--<i></i>-->
						</li>
					</ul>
					<div class="org-branch col-lg-12 form-group">
						<!--<label class="form-label">&nbsp;&nbsp;机构过滤：&nbsp;&nbsp;</label>-->
						<select class="org_hos"></select>
						<select class="org_branch"></select>
						<button type="button" class="btn btn-sm" id="analyse-search">
                			<i class="fa fa-search"></i>&nbsp;&nbsp;搜索
               			</button>
					</div>
				</div>
				<div class="row">
					<div class="data-sum">
						<div class="sum-title">
							<p>汇总数据</p>
						</div>
						<div class="sum-content">
							<ul>
								<li>
									<span>订单总数</span>
									<p>0</p>
									<i></i>
								</li>
								<li>
									<span>今日新增</span>
									<p>0</p>
									<i></i>
								</li>
								<li>
									<span>服务中订单</span>
									<p>0</p>
									<i></i>
								</li>
								<li>
									<span>已完成订单</span>
									<p>0</p>
									<i></i>
								</li>
								<li>
									<span>护理员人数</span>
									<p>0</p>
									<i></i>
								</li>
								<li>
									<span>服务中护理员数</span>
									<p>0</p>
									<i></i>
								</li>
								<li>
									<span>服务评价分数</span>
									<p>0</p>
									<i></i>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row mar-bottom">
					<div class="data-pic">
						<ul>
							<li>
								<p>订单数据</p>
								<div class="pic-content">
									<div id="chartpic1"></div>
								</div>
								<div class="pic-detail pic1">
									<dl>
										<dd>
											<div>
												<span>普陪订单<em>0</em>单<i></i></span>
											</div>
										</dd>
										<dd>
											<div>
												<span>专陪订单<em>0</em>单<i></i></span>
											</div>
										</dd>
									</dl>
								</div>
							</li>
							<li>
								<p>护理员数据</p>
								<div class="pic-content">
									<div id="chartpic2"></div>
								</div>
								<div class="pic-detail pic2">
									<dl>
										<dd>
											<div>
												<span>普陪护理员<em>0</em>人<i></i></span>
											</div>
										</dd>
										<dd>
											<div>
												<span>专陪护理员<em>0</em>人<i></i></span>
											</div>
										</dd>
									</dl>
								</div>
							</li>
							<li class="service-comment">
								<div class="pic-top">
									<p>服务评价详情</p>
									<div class="show-more">
										<span class="org_comment">查看更多</span>
									</div>
								</div>
								<div class="pic-content">
									<div id="chartpic3"></div>
								</div>
								<div class="pic-detail pic3">
									<dl>
										<dd>
											<span>总评价人数<b><em>0</em>人</b></span>
										</dd>
										<dd>
											<span>平均分数<b><em>0</em>分</b></span>
										</dd>
									</dl>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="order-mask-bg"></div>
		<div id="order-mask">
			<div class="ball_spin_fade">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
		<script type="text/javascript" src="../js/app/common/toast.js"></script>
		<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
		<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
		<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
		<script type="text/javascript" src="../js/app/workmanage.js"></script>
		<script type="text/javascript" src="../js/app/fun.js"></script>
	</body>

</html>