<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>开始使用Layui</title>
<link rel="stylesheet" href="../css/layui.css">
<link href="../css/bootstrap-reset.css" rel="stylesheet" />
<link href="../css/bootstrap.min.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<link href="../js/plugins/pagination/pagination.css" rel="stylesheet" />
<link href="../js/plugins/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />

<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/WXMenuList.js"></script>
<script type="text/javascript" src="../js/plugins/jquery.min.js"></script>
<script type="text/javascript" src="../js/plugins/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/app/common/toast.js"></script>
<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
<script type="text/javascript" src="../js/plugins/template.js"></script>
<script type="text/javascript" src="../js/plugins/pagination/jquery.pagination.js"></script>
<script type="text/javascript" src="../js/plugins/jquery-toast-plugin/jquery.toast.min.js"></script>
<script type="text/javascript" src="../js/app/common/modalUtil.js"></script>
<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
<script type="text/javascript" src="../js/plugins/bootbox.js-4.4.0.js"></script>
<script type="text/javascript" src="../js/app/common/httpUtil.js"></script>
</head>
<body style="background: #fff;">
	<!-- 你的HTML代码 -->
	<div id="wxJson" class="layui-div"></div>
	<table class="layui-table" style="margin-top:0;">
		<colgroup>
			<col width="150">
			<col width="200">
			<col>
		</colgroup>
		<thead>
			<tr>
				<th>菜单名称</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody id="WXMenuBody">
		</tbody>
	</table>
	<div class="col-lg-12 form-group">
		<p>微信自动回复语</p>
		<p style="width: 800px;"><textarea style="resize: auto;" class="form-control wx-content" rows="5"></textarea></p>
		<p class="btn btn-primary btn-sm wx-content-submit">提交</span>
	</div>
	<script src="../js/layui.js"></script>
</body>
</html>
