.fRed{color:#FF0000;}

.form-required {
    color: red;
    /*margin-left: 3px;*/
}
.c_action_content {
    background: #eceff4;
    width: 100%;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
    margin-bottom: 18px;
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
}


/**multi-select.js  start **/
.ms-container{
  background: transparent url('../images/switch.png') no-repeat 50% 50%;
}

.ms-container:after{
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}

.ms-container .ms-selection{
  background: #fff;
  color: #555555;
  float: left;
  width: 30%;
  height:100%;
}
.ms-selection:first-child {
    padding-right: 11px;
}
.ms-selection:last-child {
    padding-left: 11px;
}

.ms-selection .title {
	background-color: #45b6af;
    color: white;
    font-size: 14px;
    padding: 5px 0px;
    text-align: center;
}
.ms-selection .body {
    width: 100%;
    height: 250px;
}

.ms-container .ms-list{
  transition: border linear 0.2s, box-shadow linear 0.2s;
  position: relative;
  height: 100%;
  padding: 0;
  overflow-y: auto;
  border: 1px solid #dedede;
}

.ms-container .ms-list.ms-focus{
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
}

.ms-container ul{
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.ms-container .ms-optgroup-container{
  width: 100%;
}

.ms-container .ms-optgroup-label{
  margin: 0;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999;
}

.ms-container .ms-selection li.ms-elem-selection{
  background: #fff;
  border-bottom: 1px #eee solid;
  padding: 2px 10px;
  color: #555;
  font-size: 14px;
}

.ms-container .ms-selection li.ms-hover{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #08c;
}

.ms-container .ms-selection li.disabled{
  background-color: #eee;
  color: #aaa;
  cursor: text;
}
/**multi-select.js  end **/




.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #79b039;
    font-weight: bold;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
 }
 
 .nav-tabs{border-bottom:1px solid #ddd}
 .nav-tabs>li{float:left;margin-bottom:-1px}
 .nav-tabs>li>a{margin-right:2px;line-height:1.42857143;border:1px solid transparent}
 .nav-tabs>li>a:hover{border-color:#eee #eee #ddd}
 .nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{color:#555;cursor:default;background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent}
 
 .tab-content>.tab-pane{display:none}
 .tab-content>.active{display:block}
 .nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}
 
 .tab-content>.tab-pane{display:none}.tab-content>.active{display:block}
 .tabbable-custom>.tab-content{background-color:#fff;border:1px solid #ddd;padding:10px;-webkit-border-radius:0 0 2px 2px;-moz-border-radius:0 0 2px 2px;-ms-border-radius:0 0 2px 2px;-o-border-radius:0 0 2px 2px;border-radius:0 0 2px 2px}
 
 .tabbable-custom{margin-bottom:15px;padding:0;}
 .tabbable-custom>.nav-tabs{border:none;margin:0}
 .tabbable-custom>.nav-tabs>li.active>a,.tabbable-custom>.nav-tabs>li>a{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0}
 .tabbable-custom>.nav-tabs>li{margin-right:2px;border-top:2px solid transparent}
 .tabbable-custom>.nav-tabs>li>a{margin-right:0;border-radius:0}
 .tabbable-custom>.nav-tabs>li>a:hover{background:0 0;border-color:transparent}
 .tabbable-custom>.nav-tabs>li.active{border-top:3px solid #F3565D;margin-top:0;position:relative}
 .tabbable-custom>.nav-tabs>li.active>a{border-top:none!important;font-weight:400;border-radius:0}
 .tabbable-custom>.nav-tabs>li.active>a:hover{-webkit-border-radius:0;-moz-border-radius:0;-ms-border-radius:0;-o-border-radius:0;border-radius:0;border-top:none;background:#fff;border-color:#d4d4d4 #d4d4d4 transparent}
 .tabbable-custom>.tab-content{background-color:#fff;border:1px solid #ddd;padding:10px;-webkit-border-radius:0 0 2px 2px;-moz-border-radius:0 0 2px 2px;-ms-border-radius:0 0 2px 2px;-o-border-radius:0 0 2px 2px;border-radius:0 0 2px 2px}
 .tabbable-custom.nav-justified>.tab-content{margin-top:-1px}
 .tabbable-custom.boxless>.tab-content{padding:15px 0;border-left:none;border-right:none;border-bottom:none}
 .tabbable-custom.tabs-below.nav-justified .tab-content{margin-top:0;margin-bottom:-2px;-webkit-border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;-ms-border-radius:2px 2px 0 0;-o-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0}
 .tabbable-custom.tabbable-full-width>.nav-tabs>li>a{color:#424242;font-size:15px;padding:9px 15px}
 .tabbable-custom.tabbable-full-width>.tab-content{padding:15px 0;border-left:none;border-right:none;border-bottom:none}
 .tabbable-custom.tabs-below .nav-tabs>li>a{border-top:none;border-bottom:2px solid transparent;margin-top:-1px}
 .tabbable-custom.tabs-below .nav-tabs>li.active{border-top:none;border-bottom:3px solid #d12610;margin-bottom:0;position:relative}
 .tabbable-custom.tabs-below .nav-tabs>li.active>a{border-bottom:none}
 .tabbable-custom.tabs-below .nav-tabs>li.active>a:hover{background:#fff;border-color:#d4d4d4 #d4d4d4 transparent}
 .tabbable-custom.tabbable-noborder .tab-content,.tabbable-custom.tabbable-noborder>.nav-tabs>li>a{border:0}


.tabs-left.nav-tabs>li>a:focus,.tabs-left.nav-tabs>li>a:hover{-webkit-border-radius:2px 0 0 2px;-moz-border-radius:2px 0 0 2px;-ms-border-radius:2px 0 0 2px;-o-border-radius:2px 0 0 2px}
.tabs-left.nav-tabs,.tabs-right.nav-tabs{border-bottom:0}
.tabs-left.nav-tabs>li,.tabs-right.nav-tabs>li{float:none}
.tabs-left.nav-tabs>li>a,.tabs-right.nav-tabs>li>a{margin-right:0;margin-bottom:3px}
.tabs-left.nav-tabs{border-right:1px solid #ddd}
.tabs-left.nav-tabs>li>a{display:block;margin-right:-1px}
.tabs-left.nav-tabs>li>a:focus,.tabs-left.nav-tabs>li>a:hover{border-radius:2px 0 0 2px;border-color:#eee #ddd #eee #eee}
.tabs-left.nav-tabs>li.active>a,.tabs-left.nav-tabs>li.active>a:hover>li.active>a:focus{-webkit-border-radius:2px 0 0 2px;-moz-border-radius:2px 0 0 2px;-ms-border-radius:2px 0 0 2px;-o-border-radius:2px 0 0 2px;border-radius:2px 0 0 2px;border-color:#ddd transparent #ddd #ddd}
.tabs-left.nav-tabs>li.active{border-left:3px solid #2bd6bd;}

.nav-tabs>li >a:hover{background:#FFF;border-color:#d4d4d4 #d4d4d4 transparent}
		 


