#extraManageAdd .panel-center>ul>li>select{
	display: inline;
	width: 250px;
	padding: 0;
}
#extraManageAdd .panel-center>ul>li>input{
	width: 250px;
	display: inline;
}
#extraManageAdd .panel-center>ul{
	padding: 20px 40px;
}
#extraManageAdd .panel-center>ul>li{
	width: 60%;
	margin: 0 auto;
	margin-bottom: 15px;
}
#extraManageAdd .panel-center>ul>li:nth-last-child(1){
	margin-bottom: 0;
}
#extraManageAdd .panel-center>ul>li div{
	width: 250px;
}
#extraManageAdd .panel-center>ul>li>span{
	position: relative;
}
#extraManageAdd .panel-center>ul>li>span i{
	position: absolute;
	color: red;
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
}
