i,em{
	font-style: normal;
}
.nopadding .form-control{
	padding-top: 0;
	padding-bottom: 0;
	display: inline-block;
	width: 200px;
}
.panel-infos {
    height: 32px;
    line-height: 32px;
    text-align: left;
    padding-left: 15px;
    background: #e5e5e5;
    margin: 0;
    position: relative;
}
.panel-infos i{
 	position: absolute;
 	right: 75px;
 }
.panel-content{
	padding: 15px;
}
.panel-content ul{
	margin-top:10px;
}
.random_phone{
	color:#2DCBB5;
	cursor: pointer;
}
#crateOrderPhone .panel-center .panel-content ul li span{
	margin-right:5px;
}
#addInusreDetail .panel-content ul li,#crateNewSet .panel-content ul li,#crateOrderPhone .panel-content ul li,#addInsurePhone .panel-content ul li{
	position: relative;
	margin-bottom: 20px;
}
#crateNewSet .panel-content ul li input{
	margin:0;
	position: absolute;
	top:50%;
	left:0;
	transform: translateY(-50%);
}
#crateNewSet .panel-content ul li span{
	margin-left:20px;
}
.panel-footer .footer-content{
    padding: 10px 15px;
    text-align: center;
}
.panel-footer .footer-content span{
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px 35px;
    cursor: pointer;
}
.panel-footer .footer-content span.rp_close{
    border:1px solid rgba(121, 121, 121, 1);
    margin-right:60px;
    color:#333;
}
.panel-footer .footer-content.nosure span:nth-child(1){
    margin-right:0;
}
.panel-footer .footer-content span.footer-sure{
    border:1px solid rgba(22, 155, 213, 1);
    background: rgba(22, 155, 213, 1);
    color:white;
}
#crateOrderPhone .panel-center ul li span,#crateOrderHome .panel-center ul li span,#crateOrderHospital .panel-center ul li span{
	margin-right:10px;
}
#crateOrderPhone .panel-center ul li strong{
	font-weight: normal;
}
.panel-center .panel-addr{
    position: relative;
}
.panel-center .panel-addr>span{
    position:absolute;
    text-align: left;
    top:0;
    left:0;
    width:103px;
}
.panel-content .phoneCall{
	width:200px;
}
.panel-center .panel-addr ul{
    margin-left:113px;
    padding-left:0;
}
.adduser .panel-center .panel-addr .servicePerson li,#crateOrderHome .panel-center .panel-addr .servicePerson li{
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
	background: #FDFDFD;
	border-radius: 4px;
	width: 300px;
	line-height: 30px;
}
.adduser .panel-center .panel-addr .servicePerson li:hover{
	background: #61E0CE;
	color: white;
}
#crateOrderHome .panel-center .panel-addr .servicePerson li:hover{
	background: #61E0CE;
	color: white;
}
.adduser .panel-center .panel-addr .servicePerson li:hover>i{
	background-image: url(../images/choose-now.png);
}
#crateOrderHome .panel-center .panel-addr .servicePerson li:hover>i{
	background-image: url(../images/choose-now.png);
}
.adduser .panel-center .panel-addr .servicePerson li.selected,#crateOrderHome .panel-center .panel-addr .servicePerson li.selected{
	background: #61E0CE;
	color: white;
}
.adduser .panel-center .panel-addr .servicePerson li>i,#crateOrderHome .panel-center .panel-addr .servicePerson li>i{
	position: absolute;
	top:50%;
	left:10px;
	transform: translateY(-50%);
	width:35px;
	height: 35px;
	background-image: url(../images/choose.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background–size: cover;
	-moz-background–size: cover;
	-o-background–size: cover;
}
.adduser .panel-center .panel-addr .servicePerson li.selected>i,#crateOrderHome .panel-center .panel-addr .servicePerson li.selected>i{
	background-image: url(../images/choose-now.png);
}
.adduser .panel-center .panel-addr .servicePerson li span,#crateOrderHome .panel-center .panel-addr .servicePerson li span{
	margin-left:50px;
}
.panel-center .panel-addr ul .orderAddress{
    color:#009DD9;
    cursor: pointer;
    width:80px;
}
.panel-center .panel-addr ul .orderAddress.serviceBtn{
	width:100px;
}
.panel-center .panel-addr .order-w li{
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
}
.panel-center .panel-addr .order-w .addr-input{
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    margin: 0;
    height:100%;
}
.panel-center .panel-addr .order-w input{
    position: absolute;
    left:0;
    top:0;
}
.panel-content .panel-addr .order-w .address-txt{
    margin-left:20px;
}
.panel-center .panel-addr .servicePerson span i,.panel-center .panel-addr .servicePerson em{
    font-style: normal;
    margin-left:10px;
}
.panel-center .panel-addr .servicePerson li span{
	margin-left:20px;
}
.panel-center .panel-addr .order-w span em{
    font-style: normal;
    margin-left:5px;
}
.panel-center .panel-addr .order-w span em b{
	font-weight: normal;
}
.panel-center .panel-addr .hospital-kinsname{
    display:none;
}
.panel-center .panel-addr .addressDetail span{
    font-weight: bold;
}
.panel-center .panel-addr .addressDetail i{
	margin-left:5px;
}
.panel-service{
    padding:15px;
}
.panel-service .securityAssess{
	position: relative;
	padding: 10px 0 10px 10px;
}
.panel-service .securityAssess span{
	left:10px;
	top:10px;
	position: absolute;
}
.panel-service .securityAssess textarea{
	margin-left:100px;
	width:200px;
	height:100px;
}
 .panel-service .panel-time{
    padding: 10px 0 10px 10px;
    position: relative;
}
 .panel-service .panel-time>div .time-top{
    padding: 15px 40px;
    text-align: center;
}
 .panel-service .panel-time>div .time-top span:nth-child(1){
    margin-right:150px;
}
 .panel-service .panel-time>div .time-top span{
    display: inline-block;
    padding: 5px 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
 .panel-service .panel-time>div .timeDetail{
    overflow: hidden;
    position: relative;
    padding: 0 20px;
}
.panel-service .panel-time>div .timeDetail .date-alias{
	position: absolute;
	color:#ffc000;
}
 .panel-service .panel-time>div .timeDetail ul{
    padding-left:40px;
    float:left;
}
 .panel-service .panel-time>div .timeDetail ul li{
    margin-bottom: 10px;
    cursor: pointer;
}
 .panel-service .panel-time>div .timeDetail ul li.selected{
    color:#169BD5;
}
 .panel-service .panel-time>div .timeDetail ul li:nth-last-child(1){
    margin-bottom: 0;
}
 .panel-service .panel-time>div .timeDetail dl{
    float:right;
    margin-right:20px;
}
 .panel-service .panel-time>div .timeDetail dl dd{
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}
 .panel-service .panel-time>div .timeDetail dl dd.selected{
     color:#169BD5;
}
.panel-service .panel-time>div .timeDetail dl dd.out-time{
	color:#ccc;
	cursor: auto;
}
 .panel-service .panel-time>div .timeDetail dl dd:nth-last-child(1){
    margin-bottom: 0px;
}
 .panel-service .panel-time>div{
    position: absolute;
    border: 1px solid #ccc;
    display: none;
    top:40px;
    left:100px;
    width:400px;
    z-index: 200;
    background: white;
}
 .panel-service .panel-time>div.service_hide{
    display: block;
}
 .panel-service .panel-time>span{
    color:#009DD9;
    cursor: pointer;
    margin-left:20px;
}
 .panel-service .panel-time i{
    font-style: normal;
    margin-left:20px;
}
 .panel-service .panel-sevice-detail{
    position: relative;
}
 .panel-service .panel-sevice-detail>span{
    position:absolute;
    top:0;
    left:0;
    width:102px;
    text-align: right;
}
 .panel-service .panel-sevice-detail ul{
    margin-left:120px;
    padding-left: 0;
}
#crateOrderHospital select,#crateOrderHospital .panel-content>ul input{
	width: 250px;
}
#crateOrderHospital .panel-service .select_gate{
	position: relative;
	margin-top:10px;
}
#crateOrderHospital .panel-service .select_gate span{
	margin-right:20px;
}
#crateOrderHospital .panel-service .select_gate i{
	cursor: pointer;
	display: inline-block;
	position: relative;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
#crateOrderHospital .panel-service .select_gate input{
	position: absolute;
	left:0;
	top:50%;
	transform: translateY(-47%);
	margin-top:0;
}
#crateOrderHospital .panel-service .select_gate em{
	margin-left:20px;
}
#crateOrderHospital .panel-service .service-detail-text{
	margin-top: 10px;
}
#crateOrderHospital .panel-service .service-detail-text .serviceDetail-box{
	margin-left:120px;
}
#crateOrderHospital .panel-service .service-detail-text .serviceDetail-box .serviceDetail-top span{
	display: block;
	border:1px solid  #2bd6bd;
	width: 200px;
	border-radius: 4px;
}
#crateOrderHospital .panel-service .service-detail-text .serviceDetail-box .serviceDetail-top span i{
	font-style: normal;
    display: inline-block;
    padding: 5px 0;
    width: 50%;
    text-align: center;
    color:#2bd6bd;
    cursor: pointer;
}
#crateOrderHospital .panel-service .service-detail-text .serviceDetail-box .serviceDetail-top span i.selected{
	background:#2bd6bd;
	color:white;
}
#crateOrderHospital .panel-service .service-detail-text ul{
	margin-left: 0;
	padding-left: 0;
}
#crateOrderHospital .panel-service .panel-sevice-detail ul li select{
	margin-right:5px;
}
#crateOrderHospital .panel-service .panel-sevice-detail ul li select:nth-last-child(1){
	margin-right:0;
}
#crateOrderHospital .panel-service .service-detail-text .serviceDetail-content{
	margin-top:10px;
	/* height: 150px; */
}
#crateOrderHospital .panel-service .service-detail-text .serviceDetail-content ul li{
	margin-bottom:5px;
	position: relative;
	padding:10px;
	background: #FDFDFD;
	border-radius: 4px;
	width: 300px;
	border: 1px solid #ccc;
}
#crateOrderHospital .panel-service .service-detail-text .serviceDetail-content ul li i{
	font-style: normal;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 200px;
}
#crateOrderHospital .panel-service .service-detail-text .serviceDetail-content ul li.selected{
	color:#2BD6BD;
	border: 1px solid #2bd6bd;
}
#crateOrderHospital .panel-service .service-detail-text .serviceDetail-content ul li.selected em{
	background-image: url('../images/float.png');
}
#crateOrderHospital .panel-service .service-detail-text .serviceDetail-content ul li em{
	width: 22px;
	height: 22px;
	background-image: url('../images/circle.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background–size: cover;
	-moz-background–size: cover;
	-o-background–size: cover;
	position: absolute;
	left:20px;
	top:50%;
	transform: translateY(-50%);
}
#crateOrderHospital .panel-service .service-detail-text .serviceDetail-content ul li span{
	margin-left:40px;
}
#crateOrderHospital .panel-service .service-detail-text .serviceDetail-content .serviceDetail-content-2{
	display: none;
}
 .panel-service .service-detail-text ul li{
    position: relative;
    cursor: pointer;
}
 .panel-service .panel-sevice-detail ul li input{
    position: absolute;
    left:0;
    top:0%;
    margin: 4px 0 0 0;
}
 .panel-service .panel-sevice-detail ul li i{
    font-style: normal;
    position: absolute;
    top:0;
    left:230px;
}
 .panel-service .panel-sevice-detail ul li span{
    margin-left:20px;
}
 .panel-payment{
    padding:15px;
}
 .panel-payment .panel-money {
    padding: 10px 0;
}
 .panel-payment .panel-money span{
    margin-left:65px;
}

 .panel-payment .panel-money-detail{
    position: relative;
}
 .panel-payment .panel-money-detail>span{
    position:absolute;
    top:0;
    left:0;
    width:80px;
}
 .panel-payment .panel-money-detail ul{
    margin-left:120px;
    padding-left: 0;
}
 .panel-payment .panel-money-detail ul li{
    position: relative;
    cursor: pointer;
}
 .panel-payment .panel-money-detail ul input{
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    margin: 0;
}
 .panel-payment .panel-money-detail ul span{
    margin-left:20px;
}

#show_pg_create .panel-body{
	padding: 0;
}
#show_pg_create .form-group{
	padding-left: 20px;
}
#show_pg_create .form-group p span{
	margin-right:40px;
}
#show_pg_create .panel-header{
	border-bottom: 0;
}
#show_pg_create .form-group b{
	font-weight: normal;
}
#show_pg_create .form-group p span em{
	position: relative;
	display: inline-block;
	margin-right:20px;
	cursor: pointer;
}
#show_pg_create .form-group p span em:nth-child(1){
	margin-left: 10px;
}
#show_pg_create .form-group p span em input{
	position: absolute;
	display: inline-block;
	left: 0;
	top:50%;
	transform: translateY(-51%);
	margin-top:0;
}
#show_pg_create .form-group p span em strong{
	font-weight: normal;
	margin-left:20px;
}
#show_pg_create .form-group .pg-result p span i:nth-child(1){
	margin-right:80px;
}
.select-item{
	color:#169BD5;
	cursor: pointer;
}
#show_pg_create .form-group .disable-people p span input{
	margin-right:40px;
}
#show_pg_create .form-group .disable-people .disable-reason{
	display: inline-block;
}
#show_pg_create .form-group .disable-people .disable-reason i{
	position: relative;
	top:-20px;
}
.panel-infopic ul{
	display: flex;
	display: -webkit-flex;
	padding: 10px 40px;
}
.panel-infopic ul li{
	flex:1;
	-webkit-flex:1;
	width:250px;
	border:1px dashed #2BD6BD;
	cursor: pointer;
	position: relative;
	height:250px;
}
.panel-signpic ul{
	padding: 10px 40px 10px 60px;
}
.panel-signpic.panel-infopic ul li:nth-child(1){
	cursor: auto;
	flex:0.5;
	-webkit-flex:0.5;
	margin-left:0;
}
.panel-infopic ul li:nth-child(1){
	margin-left:20px;
	margin-right: 20px;
}
.panel-infopic ul li img{
	display: none;
}
.panel-infopic ul li.haspic p{
	display: none;
}
.panel-infopic ul li.haspic img{
	max-height: 90%;
	display: block;
	position: absolute;
	width:90%;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}
.panel-infopic ul li p{
	color:#2BD6BD;
	position: absolute;
	left:0;
	top:50%;
	transform: translateY(-50%);
	text-align: center;
	width:100%;
}
#crateOrderHospital .panel-content ul li{
	margin-bottom: 20px;
	/*padding: 10px 0;
	width: 200px;*/
}
#crateOrderHospital .org-search{
	display: inline-block;
    background: #2bd6bd;
    color: white;
    padding: 5px 20px;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
}
#crateOrderHospital .his-infos{
	color: red;
	margin: 10px 0 0 80px;
	position: relative;
}
#crateOrderHospital .panel-content ul li:nth-last-child(1){
	margin-bottom: 0;
}
#transparent-mask-orderPicLook{
	position: fixed;
    z-index: 1031;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0,0.5);
}
