.operation-form li span{
	display: inline-block;
	margin-right: 35px;
	padding: 6px 15px;
	border-radius: 8px;
	box-shadow: 0 1px 10px 0 rgba(19,27,51,0.10);
}
.operation-form li span.home-service{
	margin-right: 0;
}
.operation-form li i{
	margin-left: 13px;
}
.operation-form li span{
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select:none;
}
.operation-form li span:hover{
	background: #50E3C2;
	/*box-shadow: 0 3px 10px 0 rgba(80,227,194,0.80);*/
	color: white;
	border: 0;
}
.operation-form li span.selected{
	background: #2BD6BD;
	/*box-shadow: 0 3px 10px 0 rgba(80,227,194,0.80);*/
	color: white;
	border: 0;
}