ul{
	margin:0;
	padding: 0;
}
#prepay_panel .panel-header p{
	margin:0;
}
#prepay_panel .panel-header{
	background: #E5E5E5;
}
#prepay_panel .prepay-panel-content .pay-detail{
	padding: 15px;
	overflow: hidden;
}
#prepay_panel .prepay-panel-content .pay-detail .detail-left{
	float: left;
}
#prepay_panel .prepay-panel-content .pay-detail .detail-left ul{
	width:300px;
}
#prepay_panel .prepay-panel-content .pay-detail .detail-left ul li{
	margin-bottom: 10px;
	width:300px;
}
#prepay_panel .prepay-panel-content .pay-detail .detail-left ul li:nth-last-child(1){
	position: relative;
}
#prepay_panel .prepay-panel-content .pay-detail .detail-left ul li:nth-last-child(1) span{
	position:absolute;
	left:0px;
	top:0;
}
#prepay_panel .prepay-panel-content .pay-detail .detail-left ul li:nth-last-child(1) i{
	margin-left:42px;
	display: block;
}
#prepay_panel .prepay-panel-content .pay-detail .detail-right{
	float: right;
	margin-right:200px;
}
#prepay_panel .prepay-panel-content .pay-detail .detail-right dl dd{
	margin-bottom: 10px;
}
#prepay_panel .prepay-panel-content{
	height:360px;
}
#prepay_panel .prepay-panel-content .pay-detail .detail-right .unpaid-fee{
	font-size: 18px;
	margin-bottom: 10px;
}
#prepay_panel .prepay-panel-content .pay-detail .detail-right .unpaid-fee i{
	color:#FF0000;
}
#prepay_panel .prepay-panel-content .pay-detail .detail-right p{
	color:#FFCC66;
}
#prepay_panel .pay-footer{
	overflow: hidden;
}
#prepay_panel .pay-footer .footer-left{
	float: left;
}
#prepay_panel .pay-footer .footer-right{
	float: right;
	margin-right:200px;
    margin-top: 20px;
}
#prepay_panel .pay-footer .footer-left ul{
	margin:0;
}
#prepay_panel .pay-footer .footer-left ul li{
	padding: 20px 40px;
	background: #eee;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    text-align: center;
}
#prepay_panel .pay-footer .footer-left ul li.selected{
	background: #77E7CC;
	color:#fff;
}
#prepay_panel .pay-footer .footer-left ul li:nth-last-child(1){
	border-bottom: 0;
}
#prepay_panel .pay-footer .footer-right dl .pay-money{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
#prepay_panel .pay-footer .footer-right .pay-code{
	margin-bottom: 50px;
	display: none;
}
#prepay_panel .pay-footer .footer-right .pay-code input,#prepay_panel .pay-footer .footer-right .pay-cash input{
	width:250px;
}
#prepay_panel .pay-footer .footer-right .sure-money i{
	display: block;
	padding: 10px 20px;
	color: #fff;
	background: #169BD5;
	width: 130px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    margin-top:20px;
}
#prepay_panel .pay-footer .footer-right dl .pay-cashin{
	margin-bottom: 10px;
}
