	i,em{
	font-style: normal;
}
p,ul,li{
	margin:0;
	padding:0;
}
#orderQuery #queryinput{
	width: 600px;
	margin-right:15px;
	height:34px;
}
#orderQuery .orderbtn{
	background-color:#2BD6BD ;
	color:white;
	margin-right:15px;
}
#orderQuery .queryform{
	margin-bottom: 15px;
}
#orderQuery .order-searchResult{
	display: none;
}
#orderQuery .order-searchkey{
	position: relative;
	margin-bottom: 40px;
	font-size: 16px;
	display: none;
}
#orderQuery .order-searchkey p{
	position: absolute;
	top:50%;
	left:0;
	transform: translateY(-50%);
}
#orderQuery .order-searchkey ul{
	margin-left:100px;
	display: flex;
	display: -webkit-flex;
}
#orderQuery .order-searchkey ul li{
	padding: 5px 10px;
    margin-right: 20px;
    background: #f2f2f2;
}
.order-photo-result .order-content{
	padding: 10px 15px;
	display: none;
}
.order-photo-result .order-content p{
	margin-bottom: 5px;
}
.order-photo-result .order-error p{
	color:red;
}
.order-photo-result .order-content ul li{
	padding:5px 0;
}
.order-photo-result .order-footer ul li:hover{
	color:red;
}
.order-show{
	display: block !important;
}
.order-photo-result .order-content .no-order{
	color:red;
}
