/****** rightpanel *******/
#transparent-mask{
    position:fixed;
    z-index:1031;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:none;
}
@media (min-width:768px){
      #rp-wrapper{
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          /*width: 700px;*/
          width:0px;
          /*-webkit-transform: translateX(700px);*/
          z-index: 1032;
          background-color: #fff;
      }
    .r_panel{
        position: fixed;
        z-index: 2;
        background-color: #fff;
        width: 600px;
        top: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        -webkit-transform: translateX(800px);
        -webkit-transition: -webkit-transform 0.3s ease-out 0s;
    }
}
@media (max-width: 768px){
    .r_panel{
        position: fixed;
        z-index: 2;        
        background-color: #fff;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        -webkit-transform: translateX(100%);
        -webkit-transition: -webkit-transform 0.3s ease-out 0s;
    }
}
.r_panel.show{
    -webkit-transform: translateX(0);
}
.r_panel .panel-header{
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}



/******** imageviewer **********/
#iv_tool i{
    display:inline-block;
    width:50px;
    height:50px;
}
#iv_plus{
    background:url('../img/plus.png') no-repeat;
    background-size:100% 100%;    
}
#iv_sub{
    background:url('../img/sub.png') no-repeat;
    background-size:100% 100%;    
}
#iv_rotate{
    background:url('../img/rotate.png') no-repeat;
    background-size:100% 100%;    
}
#iv_close{
    background:url('../img/x.png') no-repeat;
    background-size:100% 100%;    
}
#iv_tool{
    position: absolute;
    z-index: 5;
    bottom: 30px;
    left: 50%;
    margin-left: -106px;
}
#iv_img{
    cursor: move;
}