#ttt_head{
    overflow:hidden;
    padding-top:5px;
    position:relative;
    /*border-bottom: 1px solid #c8cbca;*/
}
.ttt_head_line{
    position:absolute;
    border-bottom:1px solid #c8cbca;
    z-index: -1;
    bottom: 0px;
    width: 100%;
}

.ttt_item_tit{
    display:inline-block;
    height:35px;
    line-height: 35px;
    box-sizing:border-box;
    border: 1px solid #c8cbca;
    background-color:#eff1f6;
    color:#504f4f;
    /*margin:0 3px;*/
	margin-left: 5px;
    cursor:pointer;
}
.ttt_item_tit .fa-refresh{
    visibility: hidden;
}
.ttt_item_tit.selected{
    box-sizing: border-box;
    border-top: 4px solid #2bd6bd;
    border-bottom:#eff1f6;
    color:#16987e;
}

.ttt_item_tit.selected .fa-refresh{
    visibility: visible;
}

.ttt_item_tit.selected .ttt_item_tit_body{
	margin-top: -3px;
}
.ttt_item_tit_body{
    padding:0 6px;
    padding-top: 0px;
}

/*#ttt_body{ padding:8px 0;}*/
.ttt_item_body{
    display:none;
}
.ttt_item_body.selected{
    display:block;
}